body, td, th, div, li, p, span {
         font-size: 9pt; 
         font-family: Arial, Helvetica, sans-serif;
         color: #413F3F;
}



a, a:visited, a:link, a:hover { 
        color: #413F3F;
        text-decoration: underline; 
}
