/* Devised by Charles Wyke-Smith and presented in his book "Stylin' with CSS", New Riders, 2008 */
/* charles@stylinwithcss.com */
/* THREE COLUMN LAYOUT */
body {
	text-align:center;  /* IE6 needs this to center the layout in the browser window */
	}
#main_wrapper {
	width:1020px; /* widths of columns will scale proportionately as this width is changed */
	margin-left:auto;  /* centers max'd layout in browser */
	margin-right:auto; /* centers max'd layout in browser */
	text-align:left; /* prevents page inheriting IE6 centering hack on body */
	}
#header {
	}
#nav {
	width:16%;
	float:left;
	}
#content {
	width:60%;
	float:left;
	}
#promo {
	width:14%;
	float:left;
	}
#footer {
	width:100%;
	clear:both;
	}
#header_inner, #nav_inner, #content_inner, #promo_inner {
	overflow:hidden; /* prevents oversize elements from breaking the layout */
	}
#header_inner {
	padding:1em 2em;
	text-align:center;
	}
#nav_inner {
	margin:1em .5em;
	}
#content_inner {
	margin:0em 1em 1em 1.5em;
	}
#promo_inner {
	margin:1em 1.2em;
	}
#footer_inner {
	padding:.5em 10em;
	text-align:center;
	}

