﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<!--
TiddlyWiki 2.1.3 by Jeremy Ruston, (jeremy [at] osmosoft [dot] com)

Copyright (c) Osmosoft Limited 2004-2006

Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:

Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

Redistributions in binary form must reproduce the above copyright notice, this
list of conditions and the following disclaimer in the documentation and/or other
materials provided with the distribution.

Neither the name of the Osmosoft Limited nor the names of its contributors may be
used to endorse or promote products derived from this software without specific
prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY
EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
DAMAGE.
-->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<!--PRE-HEAD-START-->
<!--{{{-->
<link rel='alternate' type='application/rss+xml' title='RSS' href='index.xml'>
<!--}}}-->
<!--PRE-HEAD-END-->
<title> A re-examination of information seeking behaviour in the context of activity theory - T.D. Wilson, Visiting Professor Leeds University Business School and Swedish School of Library and Information Science </title>


<!--POST-HEAD-START-->

<!--POST-HEAD-END-->
</head>
<body onload="main();" onunload="if(window.checkUnsavedChanges) checkUnsavedChanges();">
<!--PRE-BODY-START-->

<!--PRE-BODY-END-->
	
	<div id="copyright">
	Welcome to TiddlyWiki by Jeremy Ruston, Copyright &copy; 2006 Osmosoft Limited
	</div>
	<noscript>
		<div id="javascriptWarning">This page requires JavaScript to function properly</div>
	</noscript>
	<div id="saveTest"></div>
	<div id="contentWrapper"></div>
	<div id="contentStash"></div>
	<div id="storeArea">
<div tiddler="Abstract" modifier="Tom Wilson" modified="200704241913" created="200704241621" tags="">&lt;&lt;&lt;\n''Introduction.''  Activity theory, developed in the USSR as a Marxist alternative to Western psychology, has been applied widely in educational studies and increasingly in human-computer interaction research.\n''Argument.'' The key elements of activity theory, Motivation, Goal, Activity, Tools, Object, Outcome, Rules, Community and Division of labour are all directly applicable to the conduct of information behaviour research.  An activity-theoretical approach to information behaviour research would provide a sound basis for the elaboration of contextual issues, for the discovering of organizational and other contradictions that affect information behaviour.  It may be used to aid the design and analysis of investigations.\n''Elaboration.''  The basic ideas of activity theory are outlined and an attempt is made to harmonize different perspectives. A contrast is made between an activity system perspective and an activity process perspective and a diagrammatic representation of the process perspective is offered.\n''Conclusion.''  Activity theory is not a predictive theory but a conceptual framework within which different theoretical perspectives may be employed.  Typically, it is suggested that several methods of data collection should be employed and that the time frame for investigation should be long enough for the full range of contextual issues to emerge. Activity theory offers not only a useful conceptual framework, but also a coherent terminology to be shared by researchers, and a rapidly developing body of literature in associated disciplines.\n&lt;&lt;&lt;\n[[Next|Introduction]]\n\n</div>
<div tiddler="Activity and process" modifier="Tom Wilson" modified="200704241919" created="200704241833" tags="">In exploring the applicability of activity theory in this way, I became somewhat dissatisfied by the rather static character of the diagrammatic representations. Certainly, flows of information, action, influence, etc., are represented in the arrowed lines leading to and from the nodes, but the process is not altogether clear. Initially, I tried to resolve this by combining Bedny's and EngestrÃ¶m's diagrams in Figure 5.\n[img[http://InformationR.net/ir/11-4/p260fig4.jpg]]\n''Figure 5: The harmonization of Bedny and EngestrÃ¶m''\n\nThe use of the 'tools' circle may be thought excessive but, in fact, it serves the useful purpose of drawing attention to questions that one might wish to ask. For example, How are the norms that affect this activity transmitted within the community? What tools are used by subjects to communicate with one another their experience in the activity? How do the subjects organize the division of labour between themselves and to what extent is this affected by decisions of the community to which they belong and by the norms of behaviour as they affect this activity?\n\nAlthough this harmonized diagram was useful in enabling a deeper understanding of activity theory, I still felt that the process element was lacking. Also, Bedny locates 'Goal' in a position that is at variance with all formulations of activity theory, while EngestrÃ¶m omits it from his diagram. 'Goal' is seen by Leont'ev and others as something that promotes activity, not something that is directly affected by activity. Motivation and Goal establish the preconditions for activity. Once this was established, a process model of activity emerged relatively easily and this is shown in Figure 6:\n[img[http://InformationR.net/ir/11-4/p260fig5.jpg]]\n''Figure 6: A process model of activity''\n\n[[Next|Conclusion]]\n[[]]\n[[]]\n[[]]</div>
<div tiddler="Activity theory and information behaviour" modifier="Tom Wilson" modified="200704241917" created="200704241825" tags="">At this point, the reader is likely already to have a fairly clear perception that activity theory can apply to the study of information behaviour; however, some examples of the way it might be applied may be useful. The ~AIMTech Research Group at Leeds University Business School in the UK has adopted activity theory as a framework for its research and consultancy work. After a number of studies it was felt that the existing framework within which work was being pursued left some things unexplored and activity theory presented itself as potentially useful. ~AIMTech's work is concerned primarily with the investigation of mobile information systems in the emergency services in the UK - police forces, ambulance services and fire and rescue services. A review of this work suggested that, if activity theory had been adopted as the conceptual framework at the outset, certain aspects of the studies would have been either developed further or would have been included instead of being omitted. As a result, activity theory now provides the framework for evaluating pilot studies and other implementations of mobile information systems and specific questions in the interview process directly address the elements of activity theory. Thus, we will ask about: \n\n*the history of an innovation in the organization, to uncover previous attempts to implement technological change; \n*the cultural context of the innovation, for example, the extent to which the advocates of innovation are aware of tensions in the organization that may prevent success and the extent to which the end users of the system are committed to the innovation; \n*the rules and conditions under which the technology is to be applied (particularly important in police forces, where legislation guides all activity); \n*the informal norms of behaviour in the affected work team(s) and how this might affect the innovation; \n*the motivation for the innovation: for example, mobile systems may be introduced into a police force to reduce the time officers must spend in the police station, thereby enabling them to be more visible on the street; \n*how the total activity system affects other activity systems in the organization: for example, providing a police officer with information at the point of need has implications for supervision, for the activities of the control room and for the provision of the underlying communications technologies. \n\nIn this way a much deeper understanding is gained of the context of the information needs and information uses that are associated with the implementation of the new technology and the evaluation process can bring to the fore aspects of the organizational setting that affect the innovation but might otherwise be missed.\n\nThe re-examination of previous research in the light of activity theory can provide insights that may have been missed in the earlier analysis. Consider this example, from research into the information and communication behaviour of social workers, which I reconstructed from a much less rich account:\n&lt;&lt;&lt;\nThe Social Services Department (community) is tasked with the care of children at risk in the wider community (local authority) and a social worker, as a consequence is assigned a 'case' (a child to be evaluated in the family setting). The Object, is the child to be assessed, the Motivation (stimulated by the law) the child's wellbeing; the Goal, to ensure the safety of the child. The action taken is the visit to the child's home, to observe the treatment of the child, to see the child washed or bathed (to observe any bruising, etc.), to observe the relationship between child and parent(s), and, on the basis of this evaluation, to make a recommendation. The Mediating Artefacts, in the initial action, are the manual tools of note-taking - pencil and paper, and the abstract tools of the social worker's practical experience and theoretical knowledge of similar situations. \n\nThe outcome of this initial action takes the form of feedback from the Subject to the Community (in the form of his/her supervisor(s)), on the basis of which further action may take place, that is, a new activity system is invoked. For example, a case conference (another abstract artefact) is called in which there may be representatives of the Social Services Department, the school or nursery attended by the child, the child's doctor, and, if the parents are 'known to the police', the relevant community officer (clearly an instance of the division of labour). \n\nThe outcome from that action may be a decision to take the child into care (invoking yet another activity system), placing him or her, initially, in a children's home before further assessment may lead to fostering (another activity system). A further outcome may be a court case of child abuse against the parent(s), which is yet another activity system.\n&lt;&lt;&lt;\nOur interest in information behaviour would lead us to explore the nature of the information available to the different parties in the different activity systems, the nature of the information created during the conduct of the activity (case records, case conference minutes, etc.), the technical systems established to manage the various information resources, the flow of information from one activity system to another, the extent to which divergent interests of the different parties in the different activity systems might inhibit the exchange of information and so on. (We can represent the relationships diagrammatically as in Figure 4.) In the original investigation (Wilson & Streatfield 1980), very little of this was actually explored, but the adoption of an activity-theoretical frame work immediately directs one's attention to the wide range of contextual issues that influence information behaviour and information exchange.\n\n[img[http://InformationR.net/ir/11-4/p260fig4a.png]] \n''Figure 4: Interacting activity systems''\n\nAnother example, concerns a mediated information search, for which the enquirer gave the context:\n&lt;&lt;&lt;\nMyself and a number of other colleagues have been researching properties of colliery spoils for a number of years now primarily focusing on the construction of landfill liners. Now we have been asked by the Environment Agency to perhaps put a document together on best practice using colliery spoils, not only for landfill liners, but for other earthworks and construction aspects. As part of that we need to draw together all of the literature that is available from all the different sources. ([[Wilson 2004: Appendix 2|References]])\n&lt;&lt;&lt;\nHere we see, in activity theory terms: the Motivation - an external request from a funding agency for a document on best practice in using colliery spoils; a statement of the Goal (to prepare the document), and the fact of the Division of labour in the overall project: //'Myself and a number of other colleaguesâ€¦' //Later in the interview the person concerned says: //'We have done various searches but we are not sure that we have covered all of the areas.'// Again, the plural is used, indicating that the task of search was the subject of division of labour.\n\nThe detailed exploration of cases was not the purpose of that research project, but it is easy to see that an activity-theoretical framework would enable one to pursue individual cases over time to explore how the division of labour in information seeking (and information creation) was carried out, what informal norms the group evolved to divide the work and share their results, and the effectiveness of the division of labour.\n\n[[Next|Activity, actions and operations in information seeking]]\n[[]]\n[[]]\n</div>
<div tiddler="Activity theory: from education to information science" modifier="Tom Wilson" modified="200704241914" created="200704241639" tags="">\nLargely as a consequence of the significance of Vygotsky's work in developmental psychology and the theory of learning, activity theory first made its appearance in the West in the field of educational research. Here, Vygotsky's concept of the Zone of Proximal Development gained attention, partly by the re-presentation of Russian work and subsequently through independent work, (e.g., [[Rogoff & Wertsch 1984|References]]; [[Exner 1990|References]]; [[Salomon et al. 1989|References]]).\n\nEducation was also the initial field of research of Yrj&ouml; Engestr&ouml;m, who is probably the best known of the Western interpreters of activity theory.  Engestr&ouml;m's early work was almost entirely in Finnish and concerned to a large degree with ideas on the reform of educational practice, but he has moved from education in the narrow sense to the study of learning in work situations ([[EngestrÃ¶m 1994|References]], [[2000|References]], [[2001|References]]) and in the application of technology (Mwanza & EngestrÃ¶m 2005|References]]). This move has been accompanied by more publication in English.\n\nMore recently (and partly through the influence of EngestrÃ¶m's work), activity theory has found a place in human-computer interaction and information systems research.  ([[BÃ¸dker 1989|References]]; [[Kuutti 1991|References]]; [[Kaptelinin 1994|References]]; [[Nardi 1996a|References]]; [[Kaptelinin et al. 1999|References]]; [[Ditsa 2003|References]]). Here, the dominant model of activity theory has been EngestrÃ¶m's, but an alternative representation of the theory (known as systemic-structural activity theory), by Bedny ([[2000|References]]), has also gained support.  Bedny's conception of activity theory is derived from the work of successors to Vygotsky, and, in particular, from the work of Rubinshtein (e.g., [[1957|References]]).  Before his move to the USA, Bedny was at Kharkov University, an institution at which both Luria and Leont'ev had worked and he may be considered to be in the direct intellectual line of these founders of activity theory.\n\nTo date, information science researchers appear to have been slow to consider the usefulness of activity theory in their work. A search for 'activity theory AND information science' in the Web of Science revealed only one paper ([[Spasser 1999|References]]) and a broader search of LISA revealed eighteen papers, most of which were concerned with communications and information technology applications in education, rather than information science.  Spasser's paper is very brief and simply sets out an argument for considering activity theory as an appropriate approach for information science, especially with regard to the interaction of people and computers. He notes:\n&lt;&lt;&lt;\n...by explicitly recognizing and theorizing three broad classes of complexity-the stratified nature of the social world, the social contextualization and embeddedness of interaction, and the dynamism of development... AT is a promising new direction for the field of information science research. Conceptually, AT registers the shift of focus from the interaction between the isolated user and the stand-alone computer to a larger, more ecologically valid interaction context between human beings with their environment; sensitizes us to the dynamic and evolving nature of human-computer interaction and IS design and evaluation; and highlights the rich, multifaceted, and multidimensional reality of strips of computer-mediated activity in situ... ([[Spasser 1999: 1137|References]])\n&lt;&lt;&lt;\nImportantly, from the perspective of information behaviour research, he also points to the need, if an activity-theoretical perspective is adopted, of having a time-frame for research that is long enough to understand information users' behaviour and their motivations.\n\nMore recently, Spasser has applied an activity-theoretical analysis in a study of the development of content for the Flora of North America digital library, in which activity theory is employed as a middle-range realist theory to initiate, provisionally order, and govern the ongoing conduct of data collection and analysis. ([[Spasser 2002: 93|References]])  He presents activity theory within the broader conceptual framework of social realism (a perspective advocated by [[HjÃ¸rland 1997|References]]) and concludes that,\n&lt;&lt;&lt;\n...analysis in the present work has demonstrated the utility of a realist activity theory conceptual framework for ecologically evaluating the socio-organizational and institutional embeddedness of computer-based information systems, such as digital libraries, and explaining the contextual conditioning of our experience of them. ([[Spasser 2002: 103|References]])\n&lt;&lt;&lt;\nHjÃ¸rland (1997) has drawn attention to activity theory in his book &lt;em&gt;Information seeking and subject representation: an activity-theoretical approach to information science&lt;/em&gt;.  In spite of the sub-title, however, the author actually devotes very little space to an exposition of activity theory and his work is more concerned with subject representation, information retrieval and information searching than with information seeking as generally understood in the ISIC series of conferences.  However, he makes the important point that:\n&lt;&lt;&lt;\nActivity theory stresses the development of cognition as a unity of biological development, cultural development, and individual development. It has a strong ecological and functional-historical orientation.  It also stresses the activity of the subject and the object orientation of this activity. ([[HjÃ¸rland 1997: 80|References]])\n&lt;&lt;&lt;\nFurther:\n&lt;&lt;&lt;\nActivity theory also stresses the ecological and social nature of meaning... A person's use of a term may be determined not by his individual usage, but by the usage of some social group to which he semantically defers.  Therefore, the content of a person's thoughts are themselves in part a matter of social facts. ([[HjÃ¸rland 1997: 81|References]])\n&lt;&lt;&lt;\nClearly, both of these points are of significance for the study of information seeking behaviour and Hj&oslash;rland, since 1997, has published a number of papers in which he indicates the value of activity theory in underpinning his own philosophical position of 'critical realism' and his theoretical framework of 'domain analysis' (e.g., [[HjÃ¸rland & Albrechtsen 1999|References]]; [[HjÃ¸rland 2000|References]], [[2004|References]]).\n\n[[Next|An outline of activity theory]]\n[[]]\n[[]]\n</div>
<div tiddler="Activity, actions and operations" modifier="Tom Wilson" modified="200704241916" created="200704241653" tags="">Leont'ev also developed an important distinction among concepts that is of particular value for information seeking behaviour: he distinguished between activity, actions and operations ([[Leont'ev 1978: para 3.5|References]]) and relates these terms to motives, goals and the conditions under which the activity is performed. The relationship is can be expressed diagrammatically:\n\n[img[file:///G:/My%20Documents/InformationResearch/ir/11-4/p260fig3.jpg]] \n''Figure 3: Activity, actions and operations''\n\nIn Leont'ev's words:\n&lt;&lt;&lt;\nThus the concept activity is necessarily connected with the concept of motive. Activity does not exist without a motive ; &quot;non motivated&quot; activity is not activity without a motive but activity with a subjectively and objectively hidden motive. Basic and &quot;formulating&quot; appear to be the actions that realize separate human activities. We call a process an action if it is subordinated to the representation of the result that must be attained, that is, if it is subordinated to a conscious purpose. Similarly, just as the concept of motive is related to the concept of activity, the concept of purpose is related to the concept of action. ([[Leont'ev 1978: para 3.5|References]])\n&lt;&lt;&lt;\nand:\n&lt;&lt;&lt;\nâ€¦actions are not special 'units' that are included in the structure of activity. Human activity does not exist except in the form of action or a chain of actions. For example, work activity exists in work actions, school activity in school actions, social activity in actions (acts) of society, etc. If the actions that constitute activity are mentally subtracted from it, then absolutely nothing will be left of activity. ([[Leont'ev 1978: para 3.5|References]])\n&lt;&lt;&lt;\nand, finally: â€¦the action also has its operational aspect (how, by what means this can be achieved), which is determined not by the goal in itself but by the objective-object conditions of its achievement. ([[Leont'ev 1978: para 3.5|References]])\n\nThese distinctions are explored further, [[in another frame.|Activity, actions and operations in information seeking]]\n\n[[Next|Activity theory and information behaviour]]</div>
<div tiddler="Activity, actions and operations in information seeking" modifier="Tom Wilson" modified="200704241917" created="200704241823" tags="">Leont'ev's definitions of these terms have clear application in information seeking research and, if applied rigorously, could help in the formulation of theory. Examining again the colliery spoils search, we can see that the motivation, the external request, stimulated the activity of document preparation, and that, to accomplish the goal of producing a 'best practice' document, it was necessary for the team to engage in information seeking actions. The conditions under which they worked enabled them to accomplish some of these actions themselves; thus, they were able to carry out the operations of search the Web of Knowledge databases, other databases accessible online, as well as the World Wide Web, and to search library resources, but the limitations in those conditions (no access to the commercial databases) induced them (or, rather, through the division of labour, one of them) to undertake the further action of seeking the project's assistance in carrying out a further search. The operations of that search were carried out, not by the individual himself, but by the search intermediary. We can note that the search intermediary was part of another activity system, that of the research project in which he was engaged, which had its own motivation and goals.\n\nThis analysis of that particular case, brings out the rich contextual framework in which it was set and suggests lines of enquiry that a less-rich analysis would not suggest.\n\n[[Next|Activity and process]]\n[[]]\n[[]]\n</div>
<div tiddler="An outline of activity theory" modifier="Tom Wilson" modified="200704241915" created="200704241642" tags="">Mention has been made already of the different tendencies in activity theory, with one school of thought stemming from Engestr&ouml;m's research activities and another from Bedny's 'systemic-structural activity theory'.  The two are very closely related, but authors from one or the other group use different diagrams to illustrate the components of the theory.  The most basic representation and perhaps the closest to the ideas of the founders is Bedny's (Figure 1 below).\n\n[img[file:///G:/My%20Documents/InformationResearch/ir/11-4/p260fig1.jpg]] \n''Figure 1: Bedny's representation of activity theory ([[Bedny 2003|References]])''\n\nThe figure shows the key features of activity theory: the subjects, that is, a person or group of persons engaged in the activity, acting upon an object in ways directed by a predetermined goal, using tools in the course of the activity, which has some result (not always directly satisfying the intended goal). The result establishes feedback to the subject or subjects engaged in the activity. Although not represented in the diagram, 'goal' is closely associated with the concept of 'motive': as Leont'ev notes:\n&lt;&lt;&lt;\ndifferent activities are distinguished by their motives. The concept of activity is necessarily bound up with the concept of motive. There is no such thing as activity without a motive; 'unmotivated' activity is not activity that has no motive, but activity with a subjectively and objectively hidden motive. ([[Leont'ev, 1977|References]])\n&lt;&lt;&lt;\nIt should be noted that 'tools' may be artefacts or abstract constructs: thus, in working with a computer we use a mouse, an artefact but, in using a computer to perform organizational tasks we may follow certain rules that, for example, forbid personal use of the e-mail system.  The rules are abstract constructs that govern the particular activity of computer use.\n\nThe identification of two 'subjects' in the diagram signifies that activity may be shared or collaborative; that two or more persons may work together to achieve some predetermined goal.  This fact introduces the notion of the division of labour in the performance of activity.\n\nSome of these ideas are made more explicit in Engestr&ouml;m's formulation of activity theory and his diagram is widely used in the literature (Figure 2).\n\n[img[file:///G:/My%20Documents/InformationResearch/ir/11-4/p260fig2.jpg]] \n''Figure 2: Engestrom's activity theory diagram ([[Engestrom, 1987: 78|References]])''\n\nThe differences between Bedny's representation and that of Engestr&ouml;m are readily apparent: the triangle remains the dominant figure, but only one subject is represented and the notion of 'division of labour' is separately represented.  Also, the concept of 'community' is introduced as part of the cultural context within which activity is performed and the abstract tool, 'rules', is also separated from artefacts that are here represented as 'instruments'.\n\nAlso central to activity theory is the concept of 'contradictions'; that is, the issues, conflicts and tensions that develop in any activity system.  The idea stems from the Marxist analysis of society, which Leont'ev expresses in the following way:\n&lt;&lt;&lt;\n..the class division of society puts people into unequal, opposed relations to the means of production and the social product; hence their consciousness experiences the influence of this inequality, this opposition. At the same time ideological notions are evolved and enter into the process by which specific individuals become aware of their real life relations.  ([[Leont'ev 1977|References]])\n&lt;&lt;&lt;\n\nHe goes on:\n\n&lt;&lt;&lt;\nThere thus arises a complex picture of internal connections, interweaving and inter-traffic generated by the development of internal contradictions, which in abstract form become apparent in the analysis of the simplest relations characterising the system of human activity.  ([[Leont'ev 1977|References]])\n&lt;&lt;&lt;\n\nEngestrÃ¶m and those who follow his formulation of activity theory, have developed the concept of contradictions extensively in their work and Spasser's research on the development of the Flora of North America digital library looks particularly at the fact that,\n&lt;&lt;&lt;\nGiven their differing and inevitably conflicting roles and their equally divergent conception of the objects of their work, the project has been riddled with destabilizing, structurally embedded contradictions from its initial funding. ([[Spasser 2002: 97|References]])\n&lt;&lt;&lt;\nThus, activity theory presents us with a framework for the analysis of activity in the socio-cultural-historical context of the community concerned and with regard to the motivations that give rise to goals, the accomplishment of which is the aim of activity. The framework identifies the tools - artefacts and mental constructs - that assist activity, as well as the rules, norms and division of labour that may affect activity.  Given the complexity of human activity, we might expect inner contradictions to arise in the performance of activity as well contradictions brought about by the diversity of actors and their expectations.\n\n[[Next|Activity, actions and operations]]\n[[]]\n[[]]\n\n</div>
<div tiddler="ColorPalette" modifier="Tom Wilson" modified="200704241905" created="200704241902" tags="">Background: #fff\nForeground: #000\nPrimaryPale: #8cf\nPrimaryLight: #18f\nPrimaryMid: #04b\nPrimaryDark: #014\nSecondaryPale: #ffc\nSecondaryLight: #fe8\nSecondaryMid: #db4\nSecondaryDark: #841\nTertiaryPale: #eee\nTertiaryLight: #ccc\nTertiaryMid: #999\nTertiaryDark: #666\nError: #f88\n</div>
<div tiddler="Conclusion" modifier="Tom Wilson" modified="200704241919" created="200704241842" tags="">This exploration of activity theory has served to show that it can be quite a powerful analytical tool and conceptual framework for enquiry. It should be noted, however, that, in spite of being termed activity theory, it is not a predictive theory, but rather a framework based upon a particular theory of human consciousness, aiming at explaining the character of human behaviour. The practical implication of this, in theoretical terms, is that no one theoretical position is involved in its use. Human information activity can be explored with the application of many theories, from risk avoidance to self-efficacy and more ([[Fisher et al. 2005|References]]) and there is no reason why a proponent of any theoretical position should not adopt an activity theory framework for his or her work. The same applies to method: both quantitative and qualitative methods can be applied and, indeed, for some work in information behaviour research, it may well be appropriate to use both: for example, carrying out relatively unstructured interviews and collecting computer log data for quantitative analysis.\n\nAs to the value of activity theory for information behaviour research, it has already been noted that use of the framework can draw the researcher's attention to aspects of the context of activity that otherwise might be missed. The comments above on the work of the ~AIMTech Research Group address this issue and we can summarise the point by noting that the cultural-historical setting of the activity and the relationship of the activity to the external environment constitute what might be called the 'macro-context' of the activity, while the goals and motivations of the originators of the activity, together with the artefacts, rules, norms and division of labour in the setting constitute the 'micro-context'.\n\nThe extension of EngestrÃ¶m's concept of 'instrument' to include abstract and cultural 'tools' (although note that 'tools' were viewed as both material and abstract by Vygotsky and Leont'ev) also has implications for information research. Thus, in order to use a computer for information searching, the searcher must have a complex set of abstract concepts that constitute the 'tools' for searching: these concepts may be explicitly-learnt ideas, but they may also be the result of the 'sedimented' experience of using information search devices (from the card catalogue and the book index to the search engine), where learning has taken place through experience and without instruction. Exploring the possible research questions that arise out of this idea would fill another paper!\n\nThe theory might also help us to formulate interesting research questions, and intimations of this have been made earlier in this paper. Thus research questions might direct attention to the role of organizational goals in determining the information seeking behaviour of the participants in the organization, or to the extent to which prevailing formal and informal norms of behaviour in an organization may help or inhibit information sharing, or the extent to which division of labour in task performance affects the division of labour in information seeking and the extent to which that helps on inhibits information sharing. Once the framework is internalised by the researcher, the research questions will arise almost without prompting in his or her mind\n\nFinally, the distinction between activity, actions and operations is interesting and, at least to my knowledge, has been little explored in information science, if at all. It can be argued, for example, that information seeking is not an 'activity', but a set of 'actions' that support some higher level activity - examples of this have been given earlier. To treat information behaviour as somehow fundamental to human life may be as misleading as the early efforts to demonstrate a fundamental need for information. At the level of searching (an action?), how do we distinguish between 'action' and 'operation'? For the skilled searcher the implementation of Boolean operators becomes an instinctive process, without much conscious decision making (an operation), whereas for the naÃ¯ve searcher it may be considered an 'action' to be learnt and integrated into the emerging battery of actions that are used in the information seeking process: practice, familiarity and experience then reduce it to the level of an 'operation'. Again, the possible research questions are numerous: What is an information 'activity'? Considering 'information behaviour' as the totality of actions and operations employed by a person to discover, manipulate and use information, what different sets of actions and operations are employed by persons in different roles, or of different ages, or of different status in an organization, etc.? How does an action become an operation?\n\nMuch information behaviour research is of a 'snapshot' character, exploring a situation at a particular point in time. A further implication of activity theory, however, is that a longer timeframe is necessary, partly to enable the 'triangulation' of data through the application of different methods, and partly through the need to explore the activity system of interest in all its complexity. As Nardi puts it, activity theory requires:\n&lt;&lt;&lt;\nA research time frame long enough to understand users' objects, including, where appropriate, changes in objects over time and their relation to the objects of others in the setting studied. Kuuttiâ€¦ observes that 'activities are longer-term formations and their objects cannot be transformed into outcomes at once, but through a process consisting often of several steps or phases'. ([[Nardi 1996b: 49|References]]) \n&lt;&lt;&lt;\nThis is particularly important when much information behaviour research involves small-scale studies of a very limited number of individuals: a re-orientation of research to larger-scale investigations with larger numbers of respondents and over a longer time-frame is becoming a matter of some urgency for the progress of understanding in the field.\n\n''Acknowledgements''\n\nMy thanks to Prof. Elena MaceviÄiÅ«tÄ— for helpful discussions on the original Russian sources, to colleagues in the ~AIMTech Research Group for their contributions to the debate and to the referees for their useful comments on the draft paper.\n\n[[Back to the Outline|Outline]]\n[[]]\n[[]]\n[[]]\n\n</div>
<div tiddler="DefaultTiddlers" modifier="Tom Wilson" modified="200704241951" created="200704241845" tags="">[[Outline]]</div>
<div tiddler="Introduction" modifier="Tom Wilson" modified="200704241913" created="200704241633" tags="">\nActivity theory, or 'cultural-historical activity theory' as it is also known, has its origins in the search in the Soviet Union for an alternative to the then existing basis for psychology in behaviourism and psychoanalysis.  The development of cultural-historical activity theory is associated with the names of Lev Vygotsky (1896-1934), Sergei Leonidovich Rubinshtein (1889-1960), Alexander Luria (1902-1977) and Alexei Leont'ev (1904-1979).\n\nThe work of these four founders is related in complex ways: Vygotsky was the founder of cultural-historical psychology, as a reaction against the behavioural psychology of the West and Luria and Leont'ev were, first, his students and then co-workers, who eventually carved out their own careers in different directions.  Luria remained closer to Vygotsky's ideas in developing the concept of the cultural-historical context of human behaviour, with particular respect to the use of language as the 'tool of tools' in the mediation of behaviour, but Vygotsky's contribution was cut short by his early death.  Luria went on to work on various aspects of language use, and other phenomena, in psychology (&lt;a href=&quot;#colnd&quot;&gt;Cole n.d.&lt;/a&gt;).  Leont'ev, on the other hand, ultimately reacted against Vygotsky's work and is mainly responsible for the development of general activity theory, although always recognizing the earlier collaborative work.   Rubinshtein was not one of the circle of Vygotsky but he, too, was primarily interested in the role of language and in activity generally.  His key contribution to activity theory is the idea of the development of the human mind through activity and the reciprocal relationship between activity and subject: &lt;span style=&quot;font-style: italic;&quot;&gt;The leading doctrine in the works of Rubinshtein is that every human act changes not only the world, but the actor as well.&lt;/span&gt; ([[HÃ¤yrynen 1999: 120|References]])\n\nLeont'ev acknowledges a debt to Marx in the elaboration of 'activity':\n&lt;&lt;&lt;\nIntroducing the concept of activity into the theory of cognition, Marx gave it a strictly materialistic sense: for Marx, activity in its primary and basic form was sensory, practical activity in which people enter into a practical  contact with objects of the surrounding world, test their resistance, and act on them, acknowledging their objective properties. This is the radical difference of Marxist teaching about activity as distinguished from the idealistic teaching that recognizes activity only in its abstract, speculative form. ([[Leont'ev 1978: Sect. 1.1|References]])\n&lt;&lt;&lt;\nLeont'ev's contribution deserves further attention because virtually all of the key features of activity theory emerged in his work. It must be made clear, however, that all of these writers were working in the field of psychology and that their primary concern was in understanding the fundamental psychological basis of human behaviour through the study of language, learning, cognitive disabilities and other phenomena.  Leont'ev, in particular, was concerned with the nature of consciousness, and sought an explanation that did not rely upon postulating the existence of unobservable mental phenomena.\n\nLeont'ev defines 'activity' as those processes 'that realise a person's actual life in the objective world by which he is surrounded, his social being in all the richness and variety of its forms' ([[Leont'ev 1977|References]]). Thus, society, or 'community' as it is expressed in later activity theory writing, is central to Leont'ev's concept of activity.\n\n[[Next|Activity theory: from education to information science]]\n</div>
<div tiddler="MainMenu" modifier="Tom Wilson" modified="200704241910" created="200704241855" tags="">[[Outline]]\n[[Abstract]]</div>
<div tiddler="Outline" modifier="Tom Wilson" modified="200704241910" created="200704241629" tags="">[[Abstract]]\n[[Introduction]]\n[[Activity theory: from education to information science]]\n[[An outline of activity theory]]\n[[Activity, actions and operations]]\n[[Activity theory and information behaviour]]\n[[Activity, actions and operations in information seeking]]\n[[Activity and process]]\n[[Conclusion]]\n[[References]]\n\n\n</div>
<div tiddler="PageTemplate" modifier="Tom Wilson" modified="200704241856" created="200704241856" tags="">&lt;div class='header'&gt;\n     &lt;div class='gradient' macro='gradient vert #FF8614 #DA4A0D '&gt;\n	&lt;div class='titleLine' &gt;\n                \n		&lt;span class='siteTitle' refresh='content' tiddler='SiteTitle'&gt;&lt;/span&gt;&amp;nbsp;\n		&lt;span class='siteSubtitle' refresh='content' tiddler='SiteSubtitle'&gt;&lt;/span&gt;\n	&lt;/div&gt;\n&lt;div id='topMenu' refresh='content' tiddler='MainMenu'&gt;&lt;/div&gt;\n    &lt;/div&gt;\n&lt;/div&gt;\n&lt;div id='bodywrapper'&gt;\n&lt;div id='sidebar'&gt;\n	&lt;div id='sidebarOptions' refresh='content' 	tiddler='SideBarOptions'&gt;&lt;/div&gt;\n	&lt;div id='sidebarTabs' refresh='content' force='true' tiddler='SideBarTabs'&gt;&lt;/div&gt;\n&lt;/div&gt;\n&lt;div id='displayArea'&gt;\n	&lt;div id='messageArea'&gt;&lt;/div&gt;\n	&lt;div id='tiddlerDisplay'&gt;&lt;/div&gt;\n&lt;/div&gt;\n&lt;div id='contentFooter' refresh='content' tiddler='Information Research Workbench'&gt;&lt;/div&gt;\n&lt;/div&gt;</div>
<div tiddler="References" modifier="Tom Wilson" modified="200704241945" created="200704241659" tags="">Bedny, G.Z. (2003). //Systemic structural theory of activity.// [A ~PowerPoint presentation] Retrieved 11 September, 2005 from http://case.glam.ac.uk/CASE/StaffPages/SteveHarris/GZBPubs/Goal-Formation-England1.ppt \n\nBedny, G.Z., Seglin, M.H., & Meister, D. (2000). Activity theory: history, research and application. //Theoretical Issues in Ergonomic Science//, ''1''(2), 168-206. \n\nBÃ¸dker, S. (1989). A human activity approach to user interfaces. //Human Computer Interaction//, ''4''(3), 171-195 \n\nCole, M. (n.d.). A brief overview of Luria's life and work. In //Marxists Internet Archive. Alexander Luria.// Retrieved 20 November, 2005 from http://marxists.anu.edu.au/archive/luria/comments/bio.htm. \n\nDitsa, G. (2003). Activity theory as a theoretical foundation for information systems research, In, G. Ditsa, (Ed.) //Information management: support systems & multimedia technology.// (pp. 192-231). Hershey, PA: Idea Group Publishing. \n\nEngestrÃ¶m, Y. (1987). //Learning by expanding: an activity-theoretical approach to developmental research.// Helsinki: ~Orienta-Konsultit. \n\nEngestrÃ¶m, Y. (1994). //Training for change: new approach to instruction and learning in working life.// Geneva: International Labour Office. \n\nEngestrÃ¶m, Y. (1999). Activity theory and individual and social transformation. In YrjÃ¶ EngestrÃ¶m, Reijo Miettinen and ~Raija-Leena PunamÃ¤ki, (Eds.). //Perspectives on activity theory//. (pp. 19-38). Cambridge: Cambridge University Press. \n\nEngestrÃ¶m, Y. (2000). Activity theory as a framework for analyzing and redesigning work. //Ergonomics//, ''43''(7), 960-974. \n/\nEngestrÃ¶m, Y. (2001). Expansive learning at work: toward an activity theoretical reconceptualization. //Journal of Education and Work//, ''14''(1), 133-156. \n\nExner C.E. (1990). The zone of proximal development in in-hand manipulation skills of nondysfunctional 3-year-old and 4-year-old children, //American Journal of Occupational Therapy//, ''44''(10), 884-891 \n\nFisher, K.E., Erdeles, S. & ~McKechnie, L. (Eds.) (2005). //Theories of information behavior.// Medford, NJ: Information Today, Inc. \n\nHÃ¤yrynen, Y-P. (1999). Collapse, creation and continuity in Europe: how do people change? In YrjÃ¶ EngestrÃ¶m, Reijo Miettinen and ~Raija-Leena PunamÃ¤ki, (Eds.). //Perspectives on activity theory.// (pp. 115-132). Cambridge: Cambridge University Press. \n\nHjÃ¸rland, B. (1997). //Information seeking and subject representation. An activity-theoretical approach to information science.// Westport, CT; London: Greenwood Press.\n \nHjÃ¸rland, B. (2000). Information seeking behaviour: what should a general theory look like? //The New Review of Information Behaviour Research//, ''1'', 19-33. \n\nHjÃ¸rland, B. (2004). Arguments for philosophical realism in library and information science. //Library Trends//, ''52(''3), 488-506 \n\nHjÃ¸rland, B. & Albrechtsen, H. (1999) Toward a new horizon in information science: domain-analysis. //Journal of the American Society for Information Science//, ''46''(6), 400-425. \n\nKaptelinin, V. (1994). Activity theory, implications for human-computer interaction. In M.D. ~Brouwer-Janse and T.L. Harrington (Eds.). //Human machine communication for educational systems design.// (pp. 5-15). Berlin: Springer. \n\nKaptelinin, V., Nardi, B. & Macaulay, C. (1999). Methods & tools: the activity checklist: a tool for representing the 'space' of context. //interactions// ''6''(4), 27-39. \n\nKuutti, K. (1991). Activity theory and its applications in information systems research and design, in H.-E. Nissen, H.K. Klein, and R. Hirschheim, (Eds.). //Information systems research arena of the 90s.// (pp. 529-550). Amsterdam: ~North-Holland. \n\nLeont'ev, A.N. (1977). Activity and consciousness. In, //Philosophy in the USSR: problems of dialectical materialism.// (pp. 180-202) Moscow: Progress Publishers. Retrieved 18 November, 2005 from http://www.marxists.org/archive/leontev/works/1977/leon1977.htm \n\nLeont'ev, A.N. (1978). //Activity, consciousness, and personality.// Translated from Russian by Marie J. Hall. Englewood Cliffs, NJ; London: ~Prentice-Hall. Retrieved 18 November, 2005 from http://www.marxists.org/archive/leontev/works/1978/index.htm \n\nMwanza, D. and EngestrÃ¶m, Y. (2005). Managing content in e-learning environments. //British Journal of Educational Technology//, ''36''(3), 453-463. \n\nNardi, B. (Ed.) (1996a). //Context and consciousness: activity theory and human-computer interaction.// Cambridge, MA: MIT Press. \n\nNardi, B.A. (1996b). Studying context: a comparison of activity theory, situated action models, and distributed cognition. In B.A. Nardi (Ed.), //Context and consciousness: activity theory and human-computer interaction.// (pp. 69-102), Cambridge, MA: MIT Press. \n\nRogoff, B. and Wertsch, J. (Eds.) (1984). //Children's learning in the 'Zone of Proximal Development'.// San Francisco: Jossey-Bass Inc. \n\nRubinshtein, S.L. (1957). //Existence and consciousness.// Moscow: Academy of Pedagogical Science. \n\nSalomon, G., Globerson, T. & Guterman, E. (1989). The computer as a zone of proximal development - internalizing reading-related metacognitions from a reading partner. //Journal of Educational Psychology//, ''81''(4), 620-627 \n\nSpasser, M.A. (1999). Informing information science: the case for activity theory. //Journal of the American Society for Information Science//, ''50''(12), 1136-1138. \n\nSpasser, M.A. (2002). Realist activity theory for digital library evaluation: conceptual framework and case study. //Computer Supported Cooperative Work//, ''11''(1/2), 81-110 \n\nWilson, T.D. (2004). Talking about the problem: a content analysis of pre-search interviews. //Information Research//, ''10''(1), paper 206. Retrieved 31 December, 2005 from http://informationr.net/ir/10-1/paper206.html. \n\nWilson, T.D. & Streatfield, D.R. (1980). 'You can observe a lotâ€¦' A study of information use in local authority social services departments conducted by Project INISS. Sheffield: Sheffield University, Postgraduate School of Librarianship and Information Science. Retrieved 14 January, 2006 from http://informationr.net/tdw/publ/INISS/ </div>
<div tiddler="SiteSubtitle" modifier="Tom Wilson" modified="200704241920" created="200704241637" tags="">T.D. Wilson, Visiting Professor Leeds University Business School and Swedish School of Library and Information Science</div>
<div tiddler="SiteTitle" modifier="Tom Wilson" modified="200704241655" created="200704241637" tags="">A re-examination of information seeking behaviour in the context of activity theory</div>
<div tiddler="StyleSheet" modifier="Tom Wilson" modified="200704241922" created="200704241634" tags="">[[SideBarWG]]\n\n#topMen br {display:none;}\n/***\n!Top Menu Styles\n***/\n/*{{{*/\n#topMenu br {display:none; }\n#topMenu { background: #000 ; color:#fff;padding: 1em 1em;}\n/*}}}*/\n\n/***\n!General\n***/\n/*{{{*/\nbody {\n background:  [[ColorPalette::TertiaryLight]];\n margin: 0 auto;\n}\n\n {\n font-family: verdana;\n}\n #contentWrapper{\n background: #fff;\n border: 0;\n margin: 0 1em;\n\n padding:0;\n}\n/*}}}*/\n\n/***\n!Header rules\n***/\n/*{{{*/\n.titleLine{\n margin: 68px 3em 0em 0em;\nmargin-left:1.7em;\nmargin-bottom: 28px;\n padding: 0;\n text-align: left;\n color: #fff;\n}\n\n.siteTitle {\n	font-size: 3em;\n        font-weight: bold;\n}\n\n.siteSubtitle {\n	font-size: 1.5em;\n        display: block;\n        margin: .5em auto 1em;\n}\n\n.gradient {margin: 0 auto;}\n\n\n\n.header {\n background: #fff; \n margin: 0 0em;\n padding:0 12px;\n\n}\n/*}}}*/\n\n/***\n!Display Area\n***/\n/*{{{*/\n#bodywrapper {margin:0 12px; padding:0;background:#eee; height:1%}\n\n#displayArea{\n margin: 0em 16em 0em 1em;\n text-align: left;\n}\n\n.tiddler {\n	padding: 2em 2em 2em em;\n        border-top:   1px solid #ccc; \n        border-left:   1px solid #ccc; \n        border-bottom: 6px solid #ccc; \n        border-right: 6px solid #ccc; \n        margin: 1.0em; \n        background:#fff; \n        -moz-border-radius: 10px;\n}\n\nh1,h2,h3,h4,h5 { color: #000; background: transparent; padding-bottom:2px; border-bottom: 1px dotted #666; }\n.title {color:black; font-size:1.8em; border-bottom:1px solid #333; padding-bottom:0.3px;}\n.subtitle { font-size:90%; color:#ccc; padding-left:0.25em; margin-top:0.1em; }\n\n.shadow .title {\n	color: #aaa;\n}\n\n.tagClear{\n	clear: none; \n}\n\n* html .viewer pre {\n	margin-left: 0em;\n}\n\n* html .editor textarea, * html .editor input {\n	width: 98%;\n}\n\n.tiddler {margin-bottom:1em; padding-bottom:0em;}\n\n\n.toolbar .button {color:#bbb; border:none;}\n.toolbar .button:hover, .toolbar .highlight, .toolbar .marked, .toolbar a.button:active {background:transparent; color:#111; border:none; text-decoration:underline;}\n\n#sidebar .highlight, #sidebar .marked {background:transparent;}\n\n.tagging, .tagged {\n	border: 1px solid #eee;\n	background-color: #F7F7F7;\n}\n\n.selected .tagging, .selected .tagged {\n	background-color: #eee;\n	border: 1px solid #bbb;\n}\n\n .tagging .listTitle, .tagged .listTitle {\n	color: #bbb;\n}\n\n.selected .tagging .listTitle, .selected .tagged .listTitle {\n	color: #222; \n}\n\n\n.tagging .button:hover, .tagged .button:hover {\n		border: none; background:transparent; text-decoration:underline; color:#000;\n}\n\n.tagging .button, .tagged .button {\n		color:#aaa;\n}\n\n.selected .tagging .button, .selected .tagged .button {\n		color:#000;\n}\n\n.viewer blockquote {\n	border-left: 3px solid #000; \n       \n}\n\n.viewer pre, .viewer code {\n	border: 1px dashed #ccc;\n	background: #eee;}\n\n.viewer hr {\n	border: 0;\n	border-top: solid 1px #333;\n margin: 0 8em;\n	color: #333;\n}\n\n.highlight, .marked {background:transparent; color:#111; border:none; text-decoration:underline;}\n\n.viewer .highlight, .viewer .marked {text-decoration:none;}\n\n#sidebarTabs .highlight, #sidebarTabs .marked {color:#000; text-decoration:none;}\n\n.tabSelected {\n color: #fff;\n background: #000;\n border-top: solid 1px #ccc;\n border-left: solid 1px #ccc;\n border-right: solid 1px #ccc;\n border-bottom: none;\n}\n\n.viewer .tabSelected:hover{color:#000;}\n\n.viewer .tabSelected {font-weight:bold;}\n\n.tabUnselected {\n color: #999;\n background: #eee;\n border-top: solid 1px #ccc;\n border-left: solid 1px #ccc;\n border-right: solid 1px #ccc;\n border-bottom: solid 1px #ccc;\n padding-bottom:1px;\n}\n\n.tabContents {\n background: #fff;\n  color: #000;\n}\n/*}}}*/\n/***\n!!!Tables\n***/\n/*{{{*/\n.viewer table {\n	border: 1px solid #000;\n}\n\n.viewer {\n   font-size: small; font-family: verdana;\n}\n.viewer th, thead td {\n	background: #000;\n	border: 1px solid #000;\n	color: #fff;\n}\n\n.viewer td, .viewer tr {\n	border: 1px solid #111; padding:4px;\n}\n/*}}}*/\n\n\n/***\n!!!Editor area\n***/\n/*{{{*/\n.editor input, .editor textarea {\n	border: 1px solid #ccc;\n}\n\n.editor {padding-top:0.3em;}\n\n.editor textarea:focus, .editor input:focus {\n	border: 1px solid #333;\n}\n/*}}}*/\n\n/***\n!Sidebar\n***/\n/*{{{*/\n#sidebar{\nposition:relative;\nfloat:right;\nmargin-bottom:1em;\ndisplay:inline;\nwidth: 16em;\n}\n\n#sidebarOptions .sliderPanel {\n	background: #eee; border:1px solid #ccc;\n}\n\n/*}}}*/\n\n/***\n!Body Footer rules\n***/\n/*{{{*/\n#contentFooter {\n text-align: center;\n clear: both;\n color:#fff;\n background: #000;\n padding: 1em 2em;\nfont-weight:bold;\n}\n\n/*}}}*/\n/***\n!Link Styles\n***/\n/*{{{*/\na{\n	color: #000;\n}\n\na:hover{\n        color: #FF6600;\n        background:#fff;\n}\n\n\n.button {\n	color: #000;\n	border: 1px solid #fff;\n}\n\n.button:hover {\n	color: #fff;\n	background: #ff8614;\n	border-color: #000;\n}\n\n.button:active {\n	color: #fff;\n	background: #ff8614;\n	border: 1px solid #000;\n}\n\n.tiddlyLink {border-bottom: 1px dotted #000;}\n.tiddlyLink:hover {border-bottom: 1px dotted #FF6600;} \n\n.titleLine a {border-bottom: 1px dotted #FF9900;}\n\n.titleLine a:hover {border-bottom: 1px dotted #fff;}\n\n.siteTitle a, .siteSubtitle a{\n color: #fff;\n}\n\n.viewer .button {border: 1px solid #ff8614; font-weight:bold;}\n.viewer .button:hover, .viewer .marked, .viewer .highlight{background:#ff8614; color:#fff; font-weight:bold; border: 1px solid #000;}\n\n#topMenu .button, #topMenu .tiddlyLink {\n margin-left:0.5em; margin-right:0.5em;\n padding-left:3px; padding-right:3px;\n color:white; font-weight:bold;\n}\n#topMenu .button:hover, #topMenu .tiddlyLink:hover { background:#000; color:#FF8814}\n\n#topMenu a{border:none;}\n/*}}}*/\n\n/***\n!Message Area /%=================================================%/\n***/\n/*{{{*/\n#messageArea {\n	border: 4px dotted #ff8614;\n	background: #000;\n	color: #fff;\n        font-size: 12pt;\n}\n\n#messageArea .button {\n	padding: 0.2em;\n	color: #000;\n	background: #fff;\n        text-decoration:none;\n        font-weight:bold;\n        border:1px solid #000; \n}\n\n#messageArea a {color:#fff;}\n\n#messageArea a:hover {color:#ff8614; background:transparent;}\n\n#messageArea .button:hover {background: #FF8614; color:#fff; border:1px solid #fff; }\n\n/*}}}*/\n\n/***\n!Popup /%=================================================%/\n***/\n/*{{{*/\n.popup {\n	background: #ff8814;\n	border: 1px solid #333;\n}\n\n.popup hr {\n	color: #333;\n	background: #333;\n	border-bottom: 1px;\n}\n\n.popup li.disabled {\n	color: #333;\n}\n\n.popup li a, .popup li a:visited {\n	color: #eee;\n	border: none;\n}\n\n.popup li a:hover {\n	background: #ff8614;\n	color: #fff;\n	border: none;\n        text-decoration:underline;\n}\n\n.searchBar {float:right; font-size:1em;}\n.searchBar .button {display:block; border:none; color:#ccc; }\n.searchBar .button:hover{border:none; color:#eee;}\n\n.searchBar input{\n border: 1px inset #000; background:#EFDFD1; width:10em; margin:0;\n}\n\n.searchBar input:focus {\n border: 1px inset #000; background:#fff;\n}\n\n*html .titleLine {margin-right:1.3em;}\n\n*html .searchBar .button {margin-left:1.7em;}\n\n .HideSideBarButton {float:right;} \n/*}}}*/\n\n.blog h2, .blog h3, .blog h4{\n  margin:0;\n  padding:0;\nborder-bottom:none;\n}\n.blog {margin-left:1.5em;}  \n\n\n.blog .excerpt {\n  margin:0;\nmargin-top:0.3em;\n  padding: 0;\n  margin-left:1em;\n  padding-left:1em;\n  font-size:90%;\n  border-left:1px solid #ddd;\n}\n\n#tiddlerWhatsNew h1, #tiddlerWhatsNew h2 {border-bottom:none;}\ndiv[tags~=&quot;RecentUpdates&quot;], div[tags~=&quot;lewcidExtension&quot;] {margin-bottom: 2em;}\n\n#hoverMenu  .button, #hoverMenu  .tiddlyLink {border:none; font-weight:bold; background:#f37211; color:#fff; padding:0 5px; float:right; margin-bottom:4px;}\n#hoverMenu .button:hover, #hoverMenu .tiddlyLink:hover {font-weight:bold; border:none; color:#f37211; background:#000; padding:0 5px; float:right; margin-bottom:4px;}\n\n#topMenu .fontResizer {float:right;}\n\n#topMenu .fontResizer .button{border:1px solid #000;}\n#topMenu .fontResizer .button:hover {border:1px solid #f37211; color:#fff;}\n#sidebarTabs .txtMainTab .tiddlyLinkExisting {\n font-weight: normal;\n font-style: normal;\n}\n\n#sidebarTabs .txtMoreTab .tiddlyLinkExisting {\n font-weight: bold;\n font-style: normal;\n}\n\n.block a{display:block;}</div>
<div tiddler="StyleSheetColors" modifier="Tom Wilson" modified="200704241907" created="200704241858" tags="">/*{{{*/\nbody {\n	background: [[ColorPalette::Background]];\n	color: [[ColorPalette::Foreground]];\n}\n\na{\n	color: [[ColorPalette::PrimaryMid]];\n}\n\na:hover{\n	background: [[ColorPalette::PrimaryMid]];\n	color: [[ColorPalette::Background]];\n}\n\na img{\n	border: 0;\n}\n\nh1,h2,h3,h4,h5 {\n	color: [[ColorPalette::SecondaryDark]];\n	background: [[ColorPalette::PrimaryPale]];\n}\n\n.button {\n	color: [[ColorPalette::PrimaryDark]];\n	border: 1px solid [[ColorPalette::Background]];\n}\n\n.button:hover {\n	color: [[ColorPalette::PrimaryDark]];\n	background: [[ColorPalette::SecondaryLight]];\n	border-color: [[ColorPalette::SecondaryMid]];\n}\n\n.button:active {\n	color: [[ColorPalette::Background]];\n	background: [[ColorPalette::SecondaryMid]];\n	border: 1px solid [[ColorPalette::SecondaryDark]];\n}\n\n.header {\n	background: [[ColorPalette::PrimaryMid]];\n}\n\n.headerShadow {\n	color: [[ColorPalette::Foreground]];\n}\n\n.headerShadow a {\n	font-weight: normal;\n	color: [[ColorPalette::Foreground]];\n}\n\n.headerForeground {\n	color: [[ColorPalette::Background]];\n}\n\n.headerForeground a {\n	font-weight: normal;\n	color: [[ColorPalette::PrimaryPale]];\n}\n\n.tabSelected{\n	color: [[ColorPalette::PrimaryDark]];\n	background: [[ColorPalette::TertiaryPale]];\n	border-left: 1px solid [[ColorPalette::TertiaryLight]];\n	border-top: 1px solid [[ColorPalette::TertiaryLight]];\n	border-right: 1px solid [[ColorPalette::TertiaryLight]];\n}\n\n.tabUnselected {\n	color: [[ColorPalette::Background]];\n	background: [[ColorPalette::TertiaryMid]];\n}\n\n.tabContents {\n	color: [[ColorPalette::PrimaryDark]];\n	background: [[ColorPalette::TertiaryPale]];\n	border: 1px solid [[ColorPalette::TertiaryLight]];\n}\n\n.tabContents .button {\n	 border: 0;}\n\n#sidebar {\n}\n\n#sidebarOptions input {\n	border: 1px solid [[ColorPalette::PrimaryMid]];\n}\n\n#sidebarOptions .sliderPanel {\n	background: [[ColorPalette::PrimaryPale]];\n}\n\n#sidebarOptions .sliderPanel a {\n	border: none;\n	color: [[ColorPalette::PrimaryMid]];\n}\n\n#sidebarOptions .sliderPanel a:hover {\n	color: [[ColorPalette::Background]];\n	background: [[ColorPalette::PrimaryMid]];\n}\n\n#sidebarOptions .sliderPanel a:active {\n	color: [[ColorPalette::PrimaryMid]];\n	background: [[ColorPalette::Background]];\n}\n\n.wizard {\n	background: [[ColorPalette::SecondaryLight]];\n	border-top: 1px solid [[ColorPalette::SecondaryMid]];\n	border-left: 1px solid [[ColorPalette::SecondaryMid]];\n}\n\n.wizard h1 {\n	color: [[ColorPalette::SecondaryDark]];\n}\n\n.wizard h2 {\n	color: [[ColorPalette::Foreground]];\n}\n\n.wizardStep {\n	background: [[ColorPalette::Background]];\n	border-top: 1px solid [[ColorPalette::SecondaryMid]];\n	border-bottom: 1px solid [[ColorPalette::SecondaryMid]];\n	border-left: 1px solid [[ColorPalette::SecondaryMid]];\n}\n\n.wizard .button {\n	color: [[ColorPalette::Background]];\n	background: [[ColorPalette::PrimaryMid]];\n	border-top: 1px solid [[ColorPalette::PrimaryLight]];\n	border-right: 1px solid [[ColorPalette::PrimaryDark]];\n	border-bottom: 1px solid [[ColorPalette::PrimaryDark]];\n	border-left: 1px solid [[ColorPalette::PrimaryLight]];\n}\n\n.wizard .button:hover {\n	color: [[ColorPalette::PrimaryLight]];\n	background: [[ColorPalette::PrimaryDark]];\n	border-color: [[ColorPalette::PrimaryLight]];\n}\n\n.wizard .button:active {\n	color: [[ColorPalette::Background]];\n	background: [[ColorPalette::PrimaryMid]];\n	border-top: 1px solid [[ColorPalette::PrimaryLight]];\n	border-right: 1px solid [[ColorPalette::PrimaryDark]];\n	border-bottom: 1px solid [[ColorPalette::PrimaryDark]];\n	border-left: 1px solid [[ColorPalette::PrimaryLight]];\n}\n\n#messageArea {\n	border: 1px solid [[ColorPalette::SecondaryDark]];\n	background: [[ColorPalette::SecondaryMid]];\n	color: [[ColorPalette::PrimaryDark]];\n}\n\n#messageArea .button {\n	padding: 0.2em 0.2em 0.2em 0.2em;\n	color: [[ColorPalette::PrimaryDark]];\n	background: [[ColorPalette::Background]];\n}\n\n.popup {\n	background: [[ColorPalette::PrimaryLight]];\n	border: 1px solid [[ColorPalette::PrimaryMid]];\n}\n\n.popup hr {\n	color: [[ColorPalette::PrimaryDark]];\n	background: [[ColorPalette::PrimaryDark]];\n	border-bottom: 1px;\n}\n\n.listBreak div{\n	border-bottom: 1px solid [[ColorPalette::PrimaryDark]];\n}\n\n.popup li.disabled {\n	color: [[ColorPalette::PrimaryMid]];\n}\n\n.popup li a, .popup li a:visited {\n	color: [[ColorPalette::TertiaryPale]];\n	border: none;\n}\n\n.popup li a:hover {\n	background: [[ColorPalette::PrimaryDark]];\n	color: [[ColorPalette::Background]];\n	border: none;\n}\n\n.tiddler .defaultCommand {\n font-weight: bold;\n}\n\n.shadow .title {\n	color: [[ColorPalette::TertiaryDark]];\n}\n\n.title {\n	color: [[ColorPalette::SecondaryDark]];\n}\n\n.subtitle {\n	color: [[ColorPalette::TertiaryDark]];\n}\n\n.toolbar {\n	color: [[ColorPalette::PrimaryMid]];\n}\n\n.tagging, .tagged {\n	border: 1px solid [[ColorPalette::TertiaryPale]];\n	background-color: [[ColorPalette::TertiaryPale]];\n}\n\n.selected .tagging, .selected .tagged {\n	background-color: [[ColorPalette::TertiaryLight]];\n	border: 1px solid [[ColorPalette::TertiaryMid]];\n}\n\n.tagging .listTitle, .tagged .listTitle {\n	color: [[ColorPalette::PrimaryDark]];\n}\n\n.tagging .button, .tagged .button {\n		border: none;\n}\n\n.footer {\n	color: [[ColorPalette::TertiaryLight]];\n}\n\n.selected .footer {\n	color: [[ColorPalette::TertiaryMid]];\n}\n\n.sparkline {\n	background: [[ColorPalette::PrimaryPale]];\n	border: 0;\n}\n\n.sparktick {\n	background: [[ColorPalette::PrimaryDark]];\n}\n\n.error, .errorButton {\n	color: [[ColorPalette::Foreground]];\n	background: [[ColorPalette::Error]];\n}\n\n.warning {\n	color: [[ColorPalette::Foreground]];\n	background: [[ColorPalette::SecondaryPale]];\n}\n\n.cascade {\n	background: [[ColorPalette::TertiaryPale]];\n	color: [[ColorPalette::TertiaryMid]];\n	border: 1px solid [[ColorPalette::TertiaryMid]];\n}\n\n.imageLink, #displayArea .imageLink {\n	background: transparent;\n}\n\n.viewer .listTitle {list-style-type: none; margin-left: -2em;}\n\n.viewer .button {\n	border: 1px solid [[ColorPalette::SecondaryMid]];\n}\n\n.viewer blockquote {\n	border-left: 3px solid [[ColorPalette::SecondaryDark]];\n}\n\n.viewer table {\n	border: 2px solid [[ColorPalette::TertiaryDark]];\n}\n\n.viewer th, thead td {\n	background: [[ColorPalette::SecondaryMid]];\n	border: 1px solid [[ColorPalette::TertiaryDark]];\n	color: [[ColorPalette::Background]];\n}\n\n.viewer td, .viewer tr {\n	border: 1px solid [[ColorPalette::TertiaryDark]];\n}\n\n.viewer pre {\n	border: 1px solid [[ColorPalette::SecondaryLight]];\n	background: [[ColorPalette::SecondaryPale]];\n}\n\n.viewer code {\n	color: [[ColorPalette::SecondaryDark]];\n}\n\n.viewer hr {\n	border: 0;\n	border-top: dashed 1px [[ColorPalette::TertiaryDark]];\n	color: [[ColorPalette::TertiaryDark]];\n}\n\n.highlight, .marked {\n	background: [[ColorPalette::SecondaryLight]];\n}\n\n.editor input {\n	border: 1px solid [[ColorPalette::PrimaryMid]];\n}\n\n.editor textarea {\n	border: 1px solid [[ColorPalette::PrimaryMid]];\n	width: 100%;\n}\n\n.editorFooter {\n	color: [[ColorPalette::TertiaryMid]];\n}\n\n/*}}}*/</div>
</div>
<!--POST-BODY-START-->

<!--POST-BODY-END-->
	</body>
</html>
