<!DOCTYPE html>
<html lang="en">

<head>
	<title>Balancing ideology and feasibility: a case study on adopting and evaluating open access publishing models for
		a society journal within philosophy</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta name="dcterms.title"
		content="Balancing ideology and feasibility: a case study on adopting and evaluating open access publishing models for a society journal within philosophy">
	<meta name="author" content="Yrsa Neuman, Mikael Laakso">
	<meta name="dcterms.subject"
		content="Balancing ideology and feasibility: a case study on adopting and evaluating open access publishing models for a society journal within philosophy">
	<meta name="description"
		content="Open access, the notion that research output, such as journal articles, should be freely accessible to readers on the Web, is arguably in the best interest of science. In this article, we (1) describe in-depth how a society-owned philosophy journal, Nordic Wittgenstein Review, evaluated various publishing models and made an informed decision on how best to adopt open access publishing for the journal, and (2) develop and implement measures to evaluate the chosen model. This case study uses reports from editorial board members (mainly the editor-in-chief), Web access metrics as well as a Web survey to the journal community as well as the wider philosophy research community. After two years as a delayed open access journal with commercial publishers, the journal made a decision to become an independent scholar-run journal without fees to readers or authors, and which would rely mainly on volunteer effort with university faculty support. This decision was made after evaluating various publishing scenarios and negotiating with potential publishers. This study breaks down what is involved in terms of input and effort compared to having handed over the publishing of the journal to an external publisher. For an open access journal choosing between publishing models, elements of ideology and feasibility need to be balanced. This article provides an overview of relevant elements and some means to judge feasibility in journal publishing endeavours.">
	<meta name="keywords" content="electronic journals, open access publishing,">
	<meta name="robots" content="all">
	<meta name="dcterms.publisher" content="University of Borås">
	<meta name="dcterms.type" content="text">
	<meta name="dcterms.identifier" content="ISSN-1368-1613">
	<meta name="dcterms.identifier" content="http://InformationR.net/ir/22-4/paper773.html">
	<meta name="dcterms.IsPartOf" content="http://InformationR.net/ir/22-4/infres224.html">
	<meta name="dcterms.format" content="text/html">
	<meta name="dc.language" content="en">
	<meta name="dcterms.rights" content="http://creativecommons.org/licenses/by-nd-nc/1.0/">
	<meta name="dcterms.issued" content="2017-12-15">
	<meta name="geo.placename" content="global">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<header>
		<h4 id="vol-22-no-4-december-2017">vol. 22 no. 4, December, 2017</h4>
	</header>
	<article>
		<h1
			id="balancing-ideology-and-feasibility-a-case-study-on-adopting-and-evaluating-open-access-publishing-models-for-a-society-journal-within-philosophy">
			Balancing ideology and feasibility: a case study on adopting and evaluating open access publishing models
			for a society journal within philosophy</h1>
		<h2 id="yrsa-neuman-and-mikael-laakso"><a href="#author">Yrsa Neuman</a>, and <a href="#author">Mikael
				Laakso</a></h2>
		<blockquote>
			<p><strong>Introduction.</strong> Open access, the notion that research output, such as journal articles,
				should be freely accessible to readers on the Web, is arguably in the best interest of science. In this
				article, we (1) describe in-depth how a society-owned philosophy journal, Nordic Wittgenstein Review,
				evaluated various publishing models and made an informed decision on how best to adopt open access
				publishing for the journal, and (2) develop and implement measures to evaluate the chosen model.<br>
				<strong>Method.</strong> This case study uses reports from editorial board members (mainly the
				editor-in-chief), Web access metrics as well as a Web survey to the journal community as well as the
				wider philosophy research community.<br>
				<strong>Analysis.</strong> After two years as a delayed open access journal with commercial publishers,
				the journal made a decision to become an independent scholar-run journal without fees to readers or
				authors, and which would rely mainly on volunteer effort with university faculty support. This decision
				was made after evaluating various publishing scenarios and negotiating with potential publishers. This
				study breaks down what is involved in terms of input and effort compared to having handed over the
				publishing of the journal to an external publisher.<br>
				<strong>Conclusions.</strong> For an open access journal choosing between publishing models, elements of
				ideology and feasibility need to be balanced. This article provides an overview of relevant elements and
				some means to judge feasibility in journal publishing endeavours.</p>
		</blockquote>
		<section>
			<h2 id="introduction">Introduction</h2>
			<h3 id="background">Background</h3>
			<p>Publishing is a core component of scholarly communication, and peer-reviewed journals are the prime
				outlet for reporting on scientific advances. Over the last two centuries, the volume of articles
				published in scholarly journals has been increasing steadily at a pace of 3-3.5% annually, to the status
				of today with over 28,000 active journals publishing over 2.5 million articles a year (<a
					href="#war15">Ware and Mabe 2015</a>). From a global perspective, scholarly journal publishing has
				become clustered into a market demonstrating oligopolistic tendencies: a few large publishers own the
				majority of the produced material, fuelled by scholarly societies handing over publishing activities to
				be managed by commercial publishers (<a href="#lar15">Larivière, Haustein and Mongeon 2015</a>).
				Paradoxically, this gradual infusion of profit-maximising interests into scholarly journal publishing is
				built on the notion of scholars handing over manuscripts, conducting peer-review, and managing editorial
				tasks on behalf of journals without direct financial compensation.</p>
			<p>Intertwined with the overall growth of scholarly journal publishing, there is the development of open
				access (<a href="#laa14">Laakso 2014</a>), which at its core means that research publications are made
				free to read and access through the Web. In the case of journals, which is the focus of this study, it
				means omitting the traditional reader-side subscription or pay-per-view costs. Since open access means
				free to readers, the publication services of a journal should be kept running through mechanisms other
				than subscription fees. Research funders, governments, and universities are increasingly facilitating
				open access through science policy (<a href="#swa15">Swan, Gargouri, Hunt and Harnad 2015</a>).</p>
			<p>Independently of the publishing model, several fundamental ingredients are required for the making of a
				successful and thriving journal. Some of the necessary steps in creating a healthy outlet for research
				include; an engaged and respected editorial board, capability to attract high-quality submissions of
				relevant research, and obtaining motivated reviewers who conduct an ethically sound review process (<a
					href="#sol08">Solomon 2008</a>). Once a sufficient track record of publications and citations to
				published articles have been established, a journal should apply for inclusion in indexing services (<a
					href="#for16">Fortney and Murphy 2016</a>). In addition to facilitating discovery of content, having
				a journal indexed by <em>Scopus</em> and <em>Web of Science</em> can attract more authors and
				higher-quality manuscripts since outlet indexing and associated metrics are integrated into research
				evaluation in various disciplines and universities. It is also increasingly important for journals to be
				included in national classification schemes for publication channels, which influence university funding
				and, thus, publication behaviour, such as the <a href="http://www.julkaisufoorumi.fi/en">Finnish
					Publication Forum</a> or <a href="http://bit.ly/2iSIMEi">Norway's Register for Scientific Journals,
					Series and Publishers</a> While some elements of a thriving journal are quickly summarised here,
				their realisation likely takes years for journals to fulfil, during which time the initial enthusiasm
				for establishing the journal may fade among the central founders.</p>
			<p>Crawford <a href="#cra02">(2002)</a> coined the term <em>arc of enthusiasm</em> to describe the
				publication activity traits of several early independent scholar-run open access journals, where many
				journals started strong but for one reason or another ceased publication within a few years. In a recent
				longitudinal study of independent scholar-run open access journals, Björk, Shen and Laakso <a
					href="#bjo16">(2016)</a> found that slightly over half (56%) of a cohort of such journals (N=226)
				founded during 2002 or earlier were still actively publishing in 2014. Most journals included in the
				study survived their first 2-5 years from founding, however, the 6-9 year period proved to be a very
				critical period. After this period, the number of journals ceasing had clearly dropped, indicating that
				the surviving journals had found stability. Out of the 226 journals, 11 had become subscription-based
				through major international publishers. These quantitative measures provide a bird’s-eye view on the
				situation. Morrison <a href="#mor16">(2016)</a> conducted interviews and focus groups with fifteen
				participants involved in producing small scholar-led journals that either are, or would like to become
				open access. From the responses of journals it is clear that the circumstances for adopting open access
				publishing varies greatly between journals. For most journals such a transition was revealed to contain
				major uncertainty with regard to financial aspects, but also editorial staff support and foreseen
				community response were issues perceived to inhibit a transition to open access (<a
					href="#mor16">Morrison 2016</a>). Hence, when a journal adopts an open access publishing model in
				whatever form, it should be done with well-planned consideration for many of the implications of such a
				decision to ensure that foreseeable feasibility issues will not shorten the lifespan of the journal.</p>
			<p>The many avenues available for existing subscription-based journals considering a transition to open
				access were recently reviewed by Solomon, Laakso and Björk <a href="#sol16">(2016)</a>. The review
				highlighted the difficulty in formulating universally applicable processes of publication model
				transformation. For example, organizational differences between research disciplines have consequences
				for the success of the different publication and business models available in academic publishing: the
				viability of author-funded open access models may depend on whether a discipline has a wealth of
				externally funded research projects, making it easier to fund author-side fees in publishing such as
				APCs (article processing charges) in open access journals. Contextual factors such as popularity of the
				journal among authors and readers, relative importance of subscription income, existence of a print
				edition, and availability of external funding for supporting publication activities all influence the
				range of available potentially sustainable options.</p>
			<p>For journals starting out as open access, the situation is different than for journals and communities
				considering transformation of an existing journal to open access. For newly-founded open access
				journals, one primary concern is how to stand out from the crowd of thousands of other open access
				journals, and to present themselves as a reputable outlet despite not yet having a track record to show
				for it. The goals of the journal will influence what needs to be considered. Is open access as a
				fundamental ideal valued as important? Does the journal aim to increase the quality of published
				material over time, increase the amount of papers published in a topic-specific research community, or
				simply to increase profits? The review by Solomon, Laakso and Björk <a href="#sol16">(2016)</a>
				highlighted that there is a lack of thorough accounts of journals which have transitioned to open
				access, accounts in which the process before, during, and after the transition is thoroughly documented
				and analysed. Their finding that one size does not fit all is one of the main motivations for initiating
				the case study that is provided in this paper. There is a growing body of scholarly literature available
				describing how individual journals have adopted open access publishing in some form. Bailey <a
					href="#bai10">(2010)</a> lists 46 such case studies. Baileys’ list has since been integrated into
				the wider and more frequently updated <a href="http://www.webcitation.org/6s0RmOwr6">Open Access
					Directory</a> as part of an all-encompassing open access bibliography. While impossible to review
				every journal case study in this paper, the most influential and relevant previous studies are
				summarised below.</p>
			<p>Björk and Turk <a href="#bjo06">(2006)</a> present a case study concerning an independent scholar-run
				open access journal entitled <em>Journal of Information Technology in Construction (ITcon)</em> (<a
					href="http://www.itcon.org">http://www.itcon.org</a>) which has been publishing actively since 1996.
				The journal is still publishing based on the same model, although the original proprietary Web platform
				has been exchanged for Open Journal Systems (OJS). In addition to describing the history and editorial
				processes of the journal the case study focuses mainly on Web access metrics regarding the distribution
				of article downloads. Solomon <a href="#sol07">(2007)</a> provides a case study based on <em>Medical
					Education Online</em> (<a href="http://med-ed-online.net">http://med-ed-online.net</a>). This
				journal began publishing in 1996 as an independent scholar-run open access journal, which has since made
				a publishing agreement with a professional open access publisher, Co-Action publishing. Co-Action merged
				with Taylor and Francis in 2016 and the journal currently requests an APC of €1562. The study is a good
				example of how the different aspects of a journal’s activities can be chronicled transparently both
				chronologically and thematically. Caveleri, Keren, Ramello and Valli <a href="#cav09">(2009)</a>
				describe the history and experiences of the first six years of the European Journal of Comparative
				Economics, an independent scholar-run open access journal based in Italy. The authors raise concern for
				the longevity of the journal as it has no employed staff, framing it as an exploratory experiment that
				is ongoing. While the overall expenses for running the journal are low, financing the twelve or so days
				worth of copy-editing work to be done for accepted articles was reported to be a challenge. Foxall and
				Nailor <a href="#fox16">(2016)</a> review the 2014 switch by the oncology journal <em><a
						href="http://ecancer.org/journal/journal.php">ecancermedicalscience</a></em>, from a completely
				free model for readers and authors to an innovative ‘<em>pay what you want</em>’ model for authors. The
				suggested charge is set at £1,000 '<em>but authors are welcome to pay any amount that they can
					afford</em>' (<a href="#fox16">Foxall and Nailor (2016:114)</a>. The income generated from author
				payments does not cover operating expenses for the journal but such an alternative can function as one
				piece of a wider funding strategy, and preferably also as part of a larger enterprise so as to enable
				cross-allocation of funds (<a href="#fox16">Foxall and Nailor 2016</a>).</p>
			<p>As can be seen from the brief review of existing studies, many of the prominent case studies are
				relatively old, and the research area coverage for the humanities is limited. However, while it might be
				hard to directly compare the experiences of transitions that happen a decade apart, drawing on
				previously used methods (e.g. article processing charge level deliberations and experiments, Web access
				metrics, terms of publishing model description) is likely to be useful for any journal evaluating
				publishing model transition.</p>
		</section>
		<section>
			<h3 id="research-aim-and-method">Research aim and method</h3>
			<p>This case study aims to contribute to the existing body of research and understanding of how scholarly
				journal publishing can be transformed from a dominantly subscription-based environment towards open
				publishing. This is done by providing a transparent case study of a recently founded small society
				journal, <em>Nordic Wittgenstein Review</em> (hereafter, the Review). The purpose is to consciously
				avoid a rose-tinted retrospective account, or founding a study around an elite journal where authors
				easily conform to any changes and charges purely based on the prestigious leading status of the journal.
			</p>
			<p>A core perspective of this study is that open access is a spectrum rather than something that is either
				on or off (<a href="#che16">Chen and Olijhoek 2016</a>). The different variables include, but are not
				limited to: from partial openness to full, immediate to delayed, gratis to libre, and free to
				author-financed. For scholarly communication, the notion of openness can be grounded as an ideology
				which facilitates the best interest of scientific progress by removing access barriers. This notion of
				variable openness as an ideology is juxtaposed with the notion of practical feasibility and longevity in
				maintaining a scholarly publishing outlet. The adopted analytical perspective is summarised in <a
					href="#figure1">Figure 1</a>.</p>
			<figure id="figure1">
				<img src="p773fig1.png" alt="Figure 1: Aspects of analysis">
				<figcaption>Figure 1: Aspects of analysis</figcaption>
			</figure>
			<p><strong>RQ1:</strong> What publishing options are available for small subscription-based journals
				considering adoption of open access publishing in some form?<br>
				<strong>RQ2:</strong> What was the process and which were the experiences which led Nordic Wittgenstein
				Review to become an independent, scholar-run open access journal?<br>
				<strong>RQ3:</strong> What kinds of resources are required to operate an independent, scholar-run open
				access journal within the humanities?<br>
				<strong>RQ4:</strong> What can journal Web metrics and a Web survey distributed to the scholarly
				community within the research area tell about the current feasibility of an open access journal in said
				research area?</p>
			<p>To answer these questions the case study uses data combined from three sources:</p>
			<ul>
				<li>Information given by two editorial board members, the present editor-in-chief and one of the first
					editors (who were in central positions in all stages of the journal founding), operations, publisher
					negotiations, and decision-making. This includes accounts of the process as well as associated
					documentation and historical records.</li>
				<li>Web access metrics from the journal publishing platform and through Google Analytics 2014-2016.</li>
				<li>A Web survey to the wider research community around the journal circulated during a three-week
					period during May to June 2016. A link to the publicly accessible survey was sent out to registered
					readers of the journal Website, posted on PhilPapers.org (<a
						href="http://www.philpapers.org">http://www.philpapers.org</a>), members of related research
					organizations and disciplinary communities reached through e-mail lists. The survey rendered 141
					useable completed responses.</li>
			</ul>
			<p>Personal accounts provide insight into the deliberations on publishing models. Hence a traditional
				bird’s-eye view journal case study can be complemented with a perspective from below, from within the
				context in which publication model decisions are taken: by editorial boards and society boards.</p>
			<p>The article is structured as follows: first the Review is introduced in detail, the situation is then
				presented on how the publication model was chosen: the publisher offers received by the editorial board,
				and the critical issues for publishing model choice. Following that, available details on the resources
				needed to operate the journal are presented. The choice of publication model is evaluated in the light
				of these needs and the results of a survey to a group of scholars in the wider field of philosophy are
				presented. The attitudes and situation of these scholars should be comparable to those of potential
				authors of the Review. This is followed by analysing journal Web metrics to evaluate the current status
				of readership in light of previous research. The article is concluded with a section covering the main
				overarching conclusions as well as practical recommendations for journals evaluating various alternative
				publishing models.</p>
		</section>
		<section>
			<h2 id="nordic-wittgenstein-review">Nordic Wittgenstein Review</h2>
			<h3 id="history-and-publisher-collaboration-background">History and publisher collaboration background</h3>
			<p>The <a href="http://www.nordicwittgensteinreview.com">Nordic Wittgenstein Review</a> was founded in 2011
				by the <a href="http://www.nordicwittgensteinsociety.org">Nordic Wittgenstein Society</a>, which is a
				non-profit organization founded in 2009 and run by scholars from the Nordic countries. Apart from
				publishing the journal, the Society arranges an annual conference and edits the book series Nordic
				Wittgenstein Studies (published by Springer), which opened for submissions in 2014. The name of the
				journal was the result of a suggestion and online voting round between the members of the Nordic
				Wittgenstein Society (which had approximately 100 members at the time in 2012). From the start, the
				founding group behind the journal considered open access availability a central motivation for founding
				the journal since no open access journal for Wittgenstein scholarship existed at the time. Another
				central motivation was that the founders felt that there was a need for a journal which made sure that
				authors working in this field could have their papers reviewed by scholars with a genuine expertise in
				Wittgenstein. The journal focuses on philosophy but is interdisciplinary in character. It publishes not
				only philosophical work inspired by Ludwig Wittgenstein (1889-1951) or related to traditions which stem
				from his work, but also philological, linguistics and computing-related material connected with
				Wittgenstein’s writings.</p>
			<p>The Review started out as a dual mode (print and electronic) annual journal with its first issue
				published in 2012 by Ontos Verlag, an international publisher based in Germany (in Heusenstamm am
				Frankfurt). Under that arrangement the journal published all articles open access on the Website after a
				delay of three months after print. Web materials were all licensed with the Creative Commons license,
				CC-BY-NC-SA. The Review’s first steps were initiated by the Wittgenstein Archives at the University of
				Bergen in cooperation with the Nordic Wittgenstein Society within an EU-funded research project called
				<em>Agora: Scholarly open access Research in European Philosophy</em> (2011-2014, FP7, CIP), which
				included also a larger dissemination project on Wittgenstein material (derived from the Bergen archives
				and the Austrian Wittgenstein Society) and experiments with open access book publishing (at Ontos
				Verlag). Ontos was a small publisher, which mostly published printed books and to some extent e-books,
				but which specifically had the field of Wittgenstein studies as one of its focus areas. There were plans
				to offer electronic subscription to libraries, but Ontos left the EU-funded Agora-project and as a small
				publisher was not able to provide a license-based subscription which the libraries had requested (<a
					href="#neu14">Neuman <em>et al</em>., 2014</a>). In May 2013, Ontos was sold to the larger German
				publishing house Walter De Gruyter, who set out to expand and to develop their Wittgenstein palette. The
				Review progressed as an immediate open access journal with print subscriptions, and it was also included
				in a subscription bundle. It was at this time that the negotiations regarding the future publishing
				model of the journal began. The only publishing model De Gruyter could provide was a closed-access,
				traditional subscription model with a hybrid open access option. However, this model was out of the
				question for the editorial board of the journal, which is responsible for all organizational decisions
				of the journal. Following the decision to start looking for a new publisher, two rounds of publisher
				negotiations commenced.</p>
		</section>
		<section>
			<h3 id="choosing-a-new-publisher-the-first-round">Choosing a new publisher: The first round</h3>
			<p>The editorial board, who are in charge of decisions for the journal organization and publication models,
				discussed the issue of publisher collaboration at length and over several meetings.</p>
			<p>Three publication offers with an openness element were considered by the editorial board in 2013. (See <a
					href="#table1">Table 1</a> for an overview of the offers.)</p>
		</section>
		<section>
			<h4 id="a-closed-access-with-hybrid-open-access-option">(A) Closed Access with hybrid open access option
			</h4>
			<p>The journal would become a traditional closed-access subscription journal at an international publisher,
				sold as part of large bundles of journals to libraries. The model would include a hybrid open access
				option: authors could have their articles made open access for a fee. The typesetting, PDF-production,
				publishing and indexing would be managed by the publisher but the peer-review system would be handled by
				the editors. Main journal decisions would be made by a society-appointed editorial board and no honorary
				would be given to the editor(s).</p>
			<p>The traditional closed-access model was not an option for the editorial board. The readership would be
				expected to diminish and open availability was a key characteristic for the journal ever since it was
				founded. This was an ideological issue, and open availability is what the society regarded as a crucial
				service to the research environment; subsequently it was a commitment of the Agora project. The
				editorial board was aware that the hybrid offer would result in very few open articles and was thus
				considered to be of no value to the journal.</p>
		</section>
		<section>
			<h4 id="b-journal-pays-1-full-open-access-with-print-on-demand">(B) Journal Pays 1: Full open access with
				print-on-demand</h4>
			<p>The journal would require funding of around €5,000 a year for facilitating the publication process
				(calculated on ten items per issue) which included layout, publication, proper indexing and indexing
				assistance. However, wide visibility is expected from a publication in an international publisher’s
				platform. No proof-reading in the basic offer, but available for an extra fee. Two years free basic
				services, with no obligations to remain. Print-on-demand in volumes with an annual 25% revenue share.
			</p>
			<p>A benefit of this model is that the provided publisher services would ease the load for the editors. The
				main reason for declining the offer was commitment to continuous annual funding. Obtaining funding is
				the hardest and most uncertain of all tasks related to journal editing and hence it may not always be
				guaranteed. Some members of the editorial board also noted that this publisher had no renommé and that
				prestige was important for this journal as a newcomer. This same publisher later returned with a similar
				offer, see offer E.</p>
		</section>
		<section>
			<h4 id="c-closed-access-subscription-journal-with-free-access-on-login-for-society-members">(C) Closed
				access subscription journal with free access on login for society members</h4>
			<p>This model would include typesetting and PDF-production services, which the editorial board members
				valued highly. The login and read for free interface for society members would be provided by the
				society. Editing honoraria would be given to the society. The journal would not remain society-owned,
				but should the publisher stop publishing it ownership would revert to the society. The publisher’s
				platform would be used and the journal should increase its article output considerably. Some print
				copies would be available, also with a discounted rate for members. The society would appoint editors
				etc. i.e. the society would retain decision power over the journal. Turning over the power entirely was
				not considered an option, the journal was to be steered by academics for academics and for their
				purposes.</p>
			<p>The third offer (C) was initially accepted by the editorial board, the main reason being that the
				investment of the multinational publishing house would provide the journal with sustainability both
				economically and organizationally. The negotiations went on and were extensive, until the acquisitions
				board at the publishing house decided not to go ahead for financial reasons. Hence, in 2015, after 1.5
				years of negotiations, a second round of negotiations commenced.</p>
		</section>
		<section>
			<h3 id="choosing-a-new-publisher-the-second-round">Choosing a new publisher: The second round</h3>
			<h4 id="d-closed-access-subscription-journal-with-a-honorary-to-the-editors">(D) Closed access subscription
				journal with a honorary to the editors</h4>
			<p>Free access provided for members of the society for a trial period, on the condition that the publisher
				was given the copyright of all articles, or with university-specific waivers (i.e. partnership
				arrangement through which authors would have open access for free). Full services including
				proof-reading by assigned editor. Hybrid option with lower article processing charges than many other
				publishers.</p>
			<p>The main drawback of this offer was the fundamental principle of closed-access. Turning over copyright to
				guarantee access to Society members was also not an option for the journal. Besides the commitment to
				open access, the society saw that the authors would be worse off and one important motivation for having
				a journal was to benefit the authors and get the best possible deal for them. Waivers for universities
				is beyond the interest and powers of the journal editorial board to arrange and this would be a transfer
				of open access decision power away from the society.</p>
		</section>
		<section>
			<h4 id="e-journal-pays-2">(E) Journal Pays 2</h4>
			<p>The same offer as (B) above, but no free years without obligations. Also a switch to author pays (at
				around 500€ per article) planned in case funding would be difficult to achieve (around €5,000 needed for
				two issues a year).</p>
		</section>
		<section>
			<h4 id="f-independent-scholar-run-journal">(F) Independent scholar-run journal</h4>
			<p>Published by Nordic Wittgenstein Society.</p>
			<p>This last option, (F) was the option eventually chosen and is described in close detail later in this
				article. Hence, in the end, the decision was to make the Review an independent journal without the
				support of a professional publisher, published by the Nordic Wittgenstein Society itself.</p>
			<table id="table1">
				<caption>
					Table 1: <em>Nordic Wittgenstein Review,</em> publisher offers
				</caption>
				<tbody>
					<tr>
						<th>ROUND 1 2013</th>
						<th>Open access</th>
						<th>Print</th>
						<th>Cost/income for society</th>
						<th>Publisher services</th>
						<th>Publication/workflow platform</th>
						<th>Other issues</th>
					</tr>
					<tr>
						<td>
							<strong>(A) Closed Access with hybrid open access option</strong>
						</td>
						<td>No.
							Hybrid: author fee</td>
						<td>Yes</td>
						<td>0</td>
						<td>
							Typesetting.<br>
							Limited proof-reading.<br>
							Publication.<br>
							Sales.
						</td>
						<td>
							Transfer necessary.<br>
							Open review not possible in new platform but allowed in old platform.
						</td>
						<td>Availability to readers key issue for NWR.</td>
					</tr>
					<tr>
						<td>
							<strong>(B) Journal pays 1</strong>
						</td>
						<td>Yes.</td>
						<td>
							Yes<br>
							Print on demand (volumes not issues) (25% revenue share to publisher).<br>
							Complimentary copies paid by society.
						</td>
						<td>
							-5000€/year (2 issues, 250e/article)<br>
							2 years no fee (or premium pack incl. more services 600€/article: 12000€)
						</td>
						<td>
							Publication.<br>
							PDF-processing.<br>
							Indexing.<br>
							Marketing.<br>
							DOIs.<br>
							Proof-reading.<br>
							Typesetting at extra fee.<br>
							(Premium pack: all services except peer-review<br>
							task)
						</td>
						<td>
							Transfer not obligatory.<br>
							New platform service included (unnecessary for NWR).
						</td>
						<td>
							Publisher not renowned.<br>
							Finding funding an unpopular task among editors.
						</td>
					</tr>
					<tr>
						<td>
							<strong>(C) Closed Access with free access for society members</strong>
						</td>
						<td>
							No.<br>
							Hybrid: author fee.<br>
							Free access on login for society member, university waivers possible
						</td>
						<td>
							Yes.<br>
							Free copies to authors and special subscription rate to members.
						</td>
						<td>
							+ 2500€ honorary to editors.
						</td>
						<td>
							Typesetting.<br>
							Publication.<br>
							Light proof-reading.<br>
							Typographical oddities, house style compliance.
						</td>
						<td>
							Transfer necessary.<br>
							Society must provide member login interface.
						</td>
						<td>
							Copyright to publisher.<br>
							Should increase number of issues yearly.<br>
							Offer accepted by the Review in 2013 but withdrawn by publisher.
						</td>
					</tr>
					<tr>
						<th>ROUND 2 2015</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>
							<strong>D) Closed Access with free access for society members (trial period)</strong>
						</td>
						<td>
							No.<br>
							Hybrid: author fee (low fee)<br>
							Trial: free access for society members on certain conditions
						</td>
						<td>
							Yes.<br>
							Free subscription to editorial board members and guest editor 1 copy.<br>
							Authors only free PDF offprint.
						</td>
						<td>
							+ honorary to editors.
						</td>
						<td>
							Typesetting, publication.<br>
							Editing: typographical oddities and house style compliance.
						</td>
						<td>
							Transfer necessary.<br>
							Open review not possible on new platform but allowed on old platform.
						</td>
						<td>Copyright to publisher.</td>
					</tr>
					<tr>
						<td>
							<strong>(E) Journal pays 2</strong>
						</td>
						<td>Yes.</td>
						<td>
							Yes.<br>
							Print-on-demand.
						</td>
						<td>
							-5000€/year for society.<br>
							-book reviews and small items only 60€/item.
						</td>
						<td>
							Typesetting, publication.<br>
							Indexing.<br>
							Proof-reading at extra fee.
						</td>
						<td>Transfer not necessary.</td>
						<td>
							Transfer to author pays in case society cannot.<br>
							Article processing charge around €500.
						</td>
					</tr>
					<tr>
						<td>
							<strong>(F) Independent scholar-run journal</strong>
						</td>
						<td>Yes.</td>
						<td>Print possible.</td>
						<td>
							<ol start="0">
								<li></li>
							</ol>
							<p>Grants possible.
						</td>
						<td>
							No services.<br>
							Some can be bought.<br>
							Many routines already in place.
						</td>
						<td>
							Transfer not necessary.<br>
							Platform already in use.<br>
							Hosting issue can be solved.
						</td>
						<td>
							Academic control.<br>
							Open access.<br>
							Open review as we like it.<br>
							Experimental profile can be kept.<br>
							Funding available.
						</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section>
			<h3 id="why-was-the-independent-publishing-route-chosen">Why was the independent publishing route chosen?
			</h3>
			<p>The central issue for the editorial board of the Review was securing continuity and quality, but also
				(especially at the early stages of the discussion) securing some prestige for the young journal, which
				can be obtained through collaboration with a renowned publisher. When the range of available options
				changed in the second round, independence and prestige were not conceived of as important as having full
				control over the journal (that the decisions on the journal should be made by scholars and not by a
				publisher for financial ends). Additional hopes were to keep the experimental character of the journal
				by being able to continue with open review for preprints (not possible with a large-scale publisher
				because of the rigid publication platform the development of which was kept to a minimum).</p>
			<p>Publishers differ in the services they provide but as the Review had a working workflow and publishing
				platform in OJS, only some of the services offered were important for the publisher decision for the
				Review. Proof-reading, print copies, good indexing, but also marketing and visibility were considered
				benefits. The transfer or change of an editing platform was an issue (configuring a new platform is a
				time investment), but for the Review the step to independence was smaller since the journal platform
				already existed and was running. Handling of back-issues was a concern, but not a central one. However,
				no re-negotiation of author copyright licenses of already published articles was to be accepted, nor
				would the editorial board have been prepared to let the back-issues become closed access. Open access
				was central to the editorial board as an ideology, which involved values and ideals which would take a
				central position in all reasoning on the future of the journal. According to the editor-in-chief, the
				importance of open access from the perspective of the editorial board members increased up to the second
				round of negotiations 2015 since the first round in 2013.</p>
			<p>Hence, in 2014, the Review turned biannual and electronic only, as well as immediately open access upon
				publication in line with the BOAI definition, which also requires the most liberal Creative Commons
				license (CC-BY). Hence the Review’s degree of openness increased with it becoming more independent (cf.
				<a href="#che16">Chen and Olijhoek 2016</a>). The possibility to offer print-on-demand has been left
				open.</p>
		</section>
		<section>
			<h3 id="the-nordic-wittgenstein-review-today">The <em>Nordic Wittgenstein Review</em> today</h3>
			<p>Operating an academic journal consists of certain tasks, independently of business and publication model
				which include: receiving and evaluating papers (commissioning editorial material and running the
				peer-review process), editorial tasks, processing papers for publication, maintaining Website (and
				perhaps processing platform), marketing, information dissemination, indexing arrangements. Furthermore,
				for an independent journal, finding necessary funding is often a task for the editorial team. In
				principle, all tasks can be taken care of as part of community service. In what follows, we have
				attempted to make the dimensions of these tasks as explicit as possible.</p>
		</section>
		<section>
			<h4 id="selecting-articles-the-peer-review-system">Selecting articles: the peer-review system</h4>
			<p>The Review applies a double-blind peer-review procedure for submitted papers, and furthermore, a type of
				open review on accepted papers. The papers are typeset and made available online for commenting for one
				month. Apart from submitted articles, each issue contains an invited paper (of a top name in the field
				as widely understood), book reviews, and a note from the editors. On average, every second issue
				contains an interview, at least one paper in an archive section in which archive material related to
				Wittgenstein is presented or reproduced. (See publication numbers in <a href="#figure2">Figure 2</a> and
				<a href="#table2">Table 2</a>.) In relation to the survival parameters of the cohort study by Björk,
				Shen and Laakso <a href="#bjo16">(2016)</a>, the Review’s publication numbers have developed well, but
				tend toward the lower end of the spectrum.</p>
			<table id="table2">
				<caption>Table 2: NWR publication numbers</caption>
				<tbody>
					<tr>
						<th>Year</th>
						<th>Issues</th>
						<th>Published items</th>
						<th>Research articles</th>
						<th>Other items*</th>
					</tr>
					<tr>
						<td>2012</td>
						<td>1</td>
						<td>13</td>
						<td>6 (1 invited)</td>
						<td>7</td>
					</tr>
					<tr>
						<td>2013</td>
						<td>1</td>
						<td>10</td>
						<td>5 (1 invited)</td>
						<td>5</td>
					</tr>
					<tr>
						<td>2014</td>
						<td>2</td>
						<td>19</td>
						<td>10 (2 invited)</td>
						<td>9</td>
					</tr>
					<tr>
						<td>2015</td>
						<td>2</td>
						<td>20</td>
						<td>9 (2 invited)</td>
						<td>11</td>
					</tr>
					<tr>
						<td></td>
						<td>1 special issue</td>
						<td>8</td>
						<td>8</td>
						<td>0</td>
					</tr>
					<tr>
						<td colspan="5">* Other items: archive section papers on archive material (commissioned, no
							blind peer-review),interviews, book reviews, notes from the editors.</td>
					</tr>
				</tbody>
			</table>
			<figure id="figure2">
				<img src="p773fig2.png" alt="Figure 2: Nordic Wittgenstein Review historical development">
				<figcaption>
					Figure 2: <em>Nordic Wittgenstein Review</em> historical development
				</figcaption>
			</figure>
			<p>Running the peer-review system is one of the tasks which cannot be transferred to a publisher, it is the
				task of the academic editors (also at international publishing houses). There is no significant
				difference between the time it takes for academic editors serving subscription journals at professional
				publishing houses and the time it takes for editors at independent open access journals. Peer-reviewed
				journals rely mostly on community service for the peer-review process and reviewers use their time to
				support their communication system. New initiatives of business models with paid peer-reviews exist but
				are not options for independent scholar-run journals (cf.<a href="#mat16">Matthews, 2016</a>).</p>
			<p>For editors, the peer-review procedure for an article would typically consist of the following tasks:
				reading the article, finding reviewers (discussing with the other editors), assigning papers and sending
				requests, and if not already part of the reviewer pool, finding their contact information (e-mail),
				sending enrolment invitations, sending review requests, reminders, following up the responses, finding
				replacement reviewers, acknowledging received reviews, requesting clarification (see task selection
				chart, <a href="#figure3">Figure 3</a> and <a href="#table3">Table 3</a>).</p>
			<figure id="figure3">
				<img src="p773fig3.png" alt="Figure 3: Nordic Wittgenstein Review task selection chart">
				<figcaption>
					Figure 3: <em>Nordic Wittgenstein Review</em> task selection chart
				</figcaption>
			</figure>
			<table id="table3">
				<caption>
					Table 3: <em>Nordic Wittgenstein Review</em> submission handling articles section
				</caption>
				<tbody>
					<tr>
						<th rowspan="2"> </th>
						<th colspan="7">Edutor decision</th>
					</tr>
					<tr>
						<td>Published</td>
						<td>Submission count</td>
						<td>Direct decline</td>
						<td>Resubmit</td>
						<td>Decline</td>
						<td>Accept</td>
						<td>Accepted after resubmission</td>
					</tr>
					<tr>
						<td>Vol. 3</td>
						<td>8</td>
						<td>31</td>
						<td>2</td>
						<td>7</td>
						<td>16</td>
						<td>8</td>
						<td>2</td>
					</tr>
					<tr>
						<td>Vol. 4</td>
						<td>7</td>
						<td>27</td>
						<td>5</td>
						<td>5</td>
						<td>11</td>
						<td>7</td>
						<td>1</td>
					</tr>
					<tr>
						<td>TOTAL</td>
						<td>15</td>
						<td>58</td>
						<td>7</td>
						<td>12</td>
						<td>27</td>
						<td>15</td>
						<td>3</td>
					</tr>
				</tbody>
			</table>
			<p>The acceptance rate (i.e., the share of submissions that are accepted for publication of all submissions)
				for the article section in these two volumes (2014-2015) was 26%, which was slightly down from 33% in
				the 2012-13 volumes. According to Edgar and Willinsky <a href="#edg10">(2010:10)</a>, low acceptance
				rates, below 30%, are '<em>generally a measure of higher-quality journal content</em>'. Journal quality
				assessment is in some fields reduced to comparing citation-based ‘<em>impact factors</em>’ of journals
				to gauge the relative importance of a journal within a field. However, even though the practice is
				one-dimensional and open for strategic optimisation, this remains the dominant type of assessment due to
				a lack of better qualitative alternatives (<a href="#pol16">Polonioli 2016</a>). The prime impact factor
				authority, <a href="https://clarivate.com/products/journal-citation-reports/">Clarivate Analytics
					Journal Citation Reports</a>, does not calculate impact factors for journals within the humanities,
				so other ways of measuring need to be used. Marchi and Lorenzetti <a href="#mar16">(2016)</a> recently
				suggested that journal rejection-rates and subscription numbers should be used as an analogue for
				quality among humanities journals. In the case of the Review , subscription numbers are not an
				applicable measure since no subscriptions are offered. PDF download numbers may instead be a suitable
				measure, a topic which we will return to later as part of the Web metrics analysis.</p>
			<p>The number of completed peer-reviews divided by the number of published articles is almost seven in the
				articles section of the Review for the two years charted (<a href="#table4">Table 4</a>). The extent of
				the interaction task of coordinating the peer-review procedure is manifested in the number of times
				reviewers asked decline to take on the task: 83 failed invitations by editors precede the 104 completed
				reviews.</p>
			<table id="table4">
				<caption>
					Table 4: <em>Nordic Wittgenstein Review</em> double-blind peer review procedure in numbers
				</caption>
				<tbody>
					<tr>
						<th></th>
						<th>Reviews completed</th>
						<th>Reviewer declined</th>
						<th>Request retracted (no response)</th>
						<th>Resubmission (2 review rounds)</th>
						<th>Extra reviews (3rd reviewer)</th>
					</tr>
					<tr>
						<td>Vol. 3</td>
						<td>60</td>
						<td>49</td>
						<td>10</td>
						<td>3</td>
						<td>2</td>
					</tr>
					<tr>
						<td>Vol. 4</td>
						<td>44</td>
						<td>19</td>
						<td>5</td>
						<td>3</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Total</td>
						<td>104</td>
						<td>68</td>
						<td>15</td>
						<td>6</td>
						<td>2</td>
					</tr>
				</tbody>
			</table>
			<p>The editors of the Review have responded to the expansion of the task by attempting to reject more papers
				in the eligibility check, but this measure goes counter to one of the tasks of review: not only
				gatekeeping, but also improving the quality of the academic work. The editors have aimed at taking on
				this responsibility for a large share of the submissions, however, it is not possible or practical to do
				as coordinating it takes time. More importantly, one of the most valuable assets of the journal is its
				pool of peer-reviewers, which must be used with consideration: this valuable and scarce resource is
				likely to diminish if reviewers tire from being presented with too many or with low-quality papers.
				There is a conflict in the fact that editors must use more time to read papers carefully to judge
				whether to reject them offhand to avoid using peer-reviewers' time for the task, when the peer-reviewers
				are part of the system in the first place as the actual judges of scholarly quality.</p>
		</section>
		<section>
			<h4 id="editorial-work-and-website-maintenance">Editorial work and Website maintenance</h4>
			<p>It is crucial for journals which depend heavily on volunteer labour to have a platform that is simple and
				easy to learn and use. OJS has some issues which require technical knowledge which an editor does not
				necessarily wish to develop, and which may, therefore, require funding to be provided as a service. The
				Review benefited from funding for the configuration of the platform because it was created within the
				EU-funded research project, Agora. Keeping the platform up-to-date requires a few working hours on part
				of the editors and developers every year. Also, there may be recurrent user issues, for example, authors
				needing instructions to find out where to resubmit papers. Reviewers sometimes have problems submitting
				their reviews, Java updates can cause problems when completing the review form which can add to the
				editor-in-chief's time investment. Some text fields are set and mar the communication on the site, and
				the default text is small. For the Review, the editorship circulates in the Nordic countries, and when
				new editors take on the task, they need time to learn how to use the platform and the editor-in-chief
				needs to take the time to instruct them.</p>
			<p>The OJS platform is open source software and requires no licensing fees. The Review’s platform was set up
				and hosted by the Wittgenstein Archives at the University of Bergen at no cost to the journal or to the
				Nordic Wittgenstein Society. However, it must be moved because of a lack of funding for the archives,
				leading to lack of proper maintenance and technical support. In 2017 the platform was transferred to he
				University of Bergen Library, which provides persistent identifiers and technical support at no cost.
				This kind of support is crucial for the journal to stay independent. In other words, hosting may be an
				issue for some journals. The Review has not utilised all of the functions of OJS, for instance, some of
				the editing communication (copyediting, layout) etc. have been taken care of by e-mail instead of using
				the process steps in the platform (as laid out in for instance Willinsky and Mendis <a
					href="#will07">2007</a>). All aspects of editing have been carried out by the editors together with
				the editor-in-chief and some section editors. There are possibilities of improving the workflow which
				remain to be tested and which may unburden the editors.</p>
			<p>The Review publishes papers in PDF-format. The typesetting of the papers could be managed by an editorial
				secretary but so far the editors or editor-in-chief have adopted this task. This is one of the more
				time-consuming single tasks of the journal. Cavaleri, Keren, Ramello and Valli <a
					href="#cav09">(2009)</a> approximate the time taken to complete the final editing and formatting of
				the published articles to around eight hours per article (at twelve articles a year the sum is around
				twelve working days per year). For the Review, the papers are read and edited by all editors including
				the editor-in-chief. The formatting is done before the open review, with one round of author-checked
				suggested changes, followed by a new round (after the open review has ended before final publishing).
				The formatting takes two to four hours depending on whether there are complications (bugs, pictures
				etc.) and adding the corrections approximately one to two hours more. With the editing, the preparation
				for publication of an article takes altogether at least ten hours of work. Resubmitted articles take
				longer, since the suggested changes are put together and then checked by editors (approximately two
				hours more). With eight submitted articles, that makes eighty hours i.e., ten working days a year for
				only the submitted articles. Invited papers (two per year) take altogether around twelve hours (normally
				only one editing round) and article section contributions and interviews also loosely approximated
				twelve hours altogether for four papers; book reviews are shorter and will take around two hours each.
				Altogether the yearly working days required for editing will be at the very least fourteen, divided
				among the editors but mostly the editor-in-chief. The estimates are not based on systematic follow-ups
				but loose approximations.</p>
		</section>
		<section>
			<h4 id="revenue-streams">Revenue streams</h4>
			<p>The Review has had a host of revenue streams over the years:</p>
			<ul>
				<li><em>Print subscriptions.</em> During the first two years the Review offered two-year print
					subscriptions (institutional and individual at a reduced rate to members of the Nordic Wittgenstein
					Society). Institutional print subscriptions were difficult to sell. The print cost and postage
					expenses were covered by the subscriptions during 2012. However, during transition between
					publishers, the subscriptions were lost.</li>
				<li><em>Hard-copy sales.</em> No single hard-copy sales so far (apart from two complimentary print
					copies each for authors in 2012-13), however, single print issues on pre-order is planned for 2017
					(primarily for Society members) and is expected break even or better.</li>
				<li><em>Subsidies.</em> The Review was started within the auspices of the EU-funded Agora project, which
					financed the configuration of the OJS platform and the setting up the organization and editing the
					first issues. During the first five years, the platform was set up and hosted by the Wittgenstein
					Archives in Bergen, and then it was transferred to the University Library in Bergen. Also, a grant
					was received from The Joint Committee for Nordic Research Councils in the Humanities and Social
					Sciences (NOS-HS) for 2013 (10,000 NOK = €1,000) and a more substantial one for 2016-18 (tot 144,000
					SEK= €15,000); therefore, this journal will have funding for the foreseeable future.</li>
				<li><em>Hidden subsidies.</em> The main portion of the work (editing, peer-review, editorial board
					tasks) is facilitated through community service and from the employment of editors at universities
					in the Nordic countries. The community service is presented in more detail below.</li>
			</ul>
			<p>In addition to the above, the range of revenue channels analysed in the overview of OJS journals by Edgar
				and Willinsky <a href="#edg10">(2010)</a> included advertising, member dues, publication fees,
				submission fees, pay-per-view, reprint fees, endowment and fundraising, none of which the Review has
				tried. Print subscriptions are not likely to be a good revenue channel as very few journals (only 17 out
				of 247) produced a surplus of more than $US100 according to Edgar and Willinsky <a
					href="#edg10">(2010)</a>. Hence print subscription for the journal may be considered a service to
				the community and a means to securing more readers, rather than a source of funding. (Furthermore, a
				free online version increased print subscriptions more than a paid online version (<a
					href="#edg10">Edgar and Willinsky 2010</a>). The difficulty in judging the feasibility of offering
				print subscriptions again underlines how journals are in unique positions when compared to each other
				(<a href="#sol16">Solomon, Laakso and Björk 2016</a>).</p>
		</section>
		<section>
			<h4 id="expenses">Expenses</h4>
			<ul>
				<li>Direct: domain services (around 20€/year).</li>
				<li>Indirect, university or privately provided: computers, internet, hosting, OJS tech support.</li>
				<li>Irregular direct expenses: travel, print, postage.</li>
			</ul>
		</section>
		<section>
			<h2
				id="an-independent-open-access-journal-the-review%E2%80%99s-choice-in-the-light-of-survey-and-web-metric-results">
				An independent open access journal: the Review’s choice in the light of survey and Web metric results
			</h2>
			<p>Operating an independent scholarly-run open access journal requires financial (and other) resources. The
				Review had financial support for the start-up phase, and at its 6th year of existence, it has some
				subsidy funding but will be mostly dependent on community service. In this section, we will present and
				analyse some of the resources in numbers, supplemented with an editor perspective. The main factors are
				financial resources, community service and workload issues. The workload is estimated where possible,
				and the current operation of the journal is set alongside the responses to the relevant survey questions
				posed to the philosophical research community in spring 2016. The hypothesis is that the feasibility of
				a publication and business model for a journal depends on its specific discipline and situation, where
				especially the potential authors’ attitudes will play a crucial role.</p>
		</section>
		<section>
			<h3 id="revenue-stream-sustainability">Revenue stream sustainability</h3>
			<p>Could the Review change revenue streams? The focus of part of the survey to the philosophical research
				community was to gauge the current climate for introducing article processing charges.</p>
			<figure id="figure4">
				<img src="p773fig4.png" alt="Figure 4: Article processing charges survey question">
				<figcaption>Figure 4: Article processing charges survey question</figcaption>
			</figure>
			<p><a href="#figure4">Figure 4</a> shows that 52 respondents of 141 would be prepared to pay up to €1,000.
				Almost half (46%) of the respondents would not be prepared to pay or have their institution or
				department pay open access fees. A comparison with the Agora Journal Survey from 2013 (Neuman <em>et
					al.</em> <a href="#neu14">2014:28</a>) in which the question was put to the community around the
				Review suggests that the hostile attitudes towards article processing charges are easing up. In the 2013
				diagnostic survey (n=46) 28 (61%) ticked the box '<em>I would never pay nor have my institution pay open
					access fees</em>'. The survey response confirms that, since authors choose publication venues,
				charges are not yet a viable option for the Review because of author attitudes. The authors’ attitudes
				to fees may be related to their situation: in 2013, only 6/46 (13%) knew of funding available for open
				access fees, and in our 2016 survey (<a href="#table5">Table 5</a>) 52% were not aware of such funding.
				11% were aware about funding and had applied, 25% knew of such funding, although they had not applied
				for it. The editors have nevertheless speculated explicitly on introducing a voluntary open access fee
				(<a href="#neu16">Neuman, Søndergaard Christensen and Gustafsson 2016:6</a>).</p>
			<table id="table5">
				<caption>Table 5: Funding for open access publishing</caption>
				<tbody>
					<tr>
						<th></th>
						<th>Count</th>
						<th>%</th>
					</tr>
					<tr>
						<td>
							<strong>If none of your published articles have been made available open access (by you
								or the publisher) what is the main reason?</strong>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>I have not had funding for it</td>
						<td>33</td>
						<td>56%</td>
					</tr>
					<tr>
						<td>I have not realised that it was possible</td>
						<td>13</td>
						<td>22%</td>
					</tr>
					<tr>
						<td>I do not see open access as important</td>
						<td>3</td>
						<td>5%</td>
					</tr>
					<tr>
						<td>There are not good enough open access journals in my field</td>
						<td>10</td>
						<td>17%</td>
					</tr>
					<tr>
						<td>I have not wanted my articles to be available online</td>
						<td>0</td>
						<td>0%</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>
							<strong>Are you able to apply for funding to publish outputs from your research?</strong>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>No, I am not aware of any opportunity to apply for such funding</td>
						<td>74</td>
						<td>52%</td>
					</tr>
					<tr>
						<td>Yes, but I have never applied for such funding</td>
						<td>35</td>
						<td>25%</td>
					</tr>
					<tr>
						<td>Not sure cannot remember</td>
						<td>17</td>
						<td>12%</td>
					</tr>
					<tr>
						<td>Yes, and I have applied for such funding before</td>
						<td>15</td>
						<td>11%</td>
					</tr>
				</tbody>
			</table>
			<p>The survey results suggest that the current model remains the reasonable financial model for NWR to
				choose: keeping costs low with hidden subsidies or community service, together with grant or subsidy
				funding.</p>
		</section>
		<section>
			<h3 id="community-service-as-a-resource">Community service as a resource</h3>
			<p>In our survey to the community around the Review, we inquired as to which tasks the authors could imagine
				taking on. These responses are enlightening for how the editorial work should to be set-up in order for
				an independent journal in this field to be sustainable.</p>
			<p>In the survey, the respondents were asked what services they think that authors must receive from editors
				and publishers (<a href="#figure5">Figure 5</a>). The most wanted, minimum services were article
				dissemination and marketing (&gt;80% of the respondents marked it as must be provided by publishers or
				editors), typesetting and layout (&gt;70%), reference conformity to journal guidelines (&gt;60%), and
				editing (&gt;55%). Many respondents could imagine taking care of reference check (~60%) , language check
				and proof-reading (each ~50%).</p>
			<figure id="figure5">
				<img src="p773fig5.png" alt="Figure 5: Services expected from publishers and editors">
				<figcaption>Figure 5: Services expected from publishers and editors</figcaption>
			</figure>
			<p>The responses indicate that the Review should not consider transferring the typesetting task to its
				authors. The authors are currently asked to check references and edit, however, the editors mostly do
				technical editing, language checking and typo correction. The responses on the editor or publisher task
				sharing shows that the journal should not considerably change its task distribution. Effective
				dissemination and marketing for published content emerged as the most important factors. What is also
				considered to be highly relevant is the integration with repositories and forums which are important to
				the research discipline. Note that this particular question may reflect “pro open access bias” in the
				respondents, possibly a contributing cause to their decision to respond to the survey.</p>
			<p>Today, authors of the Review do proof-reading too, but as the editors are responsible for the end
				publication format, they cannot refrain from this task without risking a drop in quality. Reference
				conformity to journal guidelines is the responsibility of the authors, but the the editors’ experience
				show that this check only partly succeeds, just as checking references.</p>
			<p>Considering the fact that the peer-review process and editing would not be taken over by a publisher, the
				editor honoraria offered to the Review by international publishers would probably not be substantial
				enough to motivate editorship for financial ends (approximately €5,000 a year in total for the journal).
				The sustainability of the journal depends on community service, which rests on other values and rewards,
				such as the perception of the tasks as important or meaningful.</p>
			<p>Funding availability is not necessarily a guarantee of sustainability: in the case of the Review,
				honoraria to the editors may help, but the problem of lack of time for fully employed university
				teachers and researchers is not resolved with additional income. The Review received a grant of around
				€5,000 a year for three years, however, this is not enough to fund sufficient external assistance.
				Professional typesetting services for one issue of 200 pages would amount to €2,000 and would not solve
				the problem it set out to solve, which is to unburden the editors, because the open review requires a
				round of typesetting too and adding corrections after the open review would make the professional layout
				assistance too expensive.</p>
			<p>Appreciation in the scholarly community is one example of a non-financial reward. When asked, most of the
				respondents did not have an opinion on whether being part of journal operations is sufficiently
				appreciated in the scholarly community (<a href="#figure6">Figure 6</a>). The experience of the editors
				is that editorship does provide some recognition and considerably widens the professional network and
				knowledge of the network and its research undertakings. In situations when they have been asked to
				continue as editors, none has so far declined. Nevertheless, editors processing many papers in addition
				to full-time teaching and research makes the system vulnerable. Should the editors be overburdened, the
				publication process is at risk of suffering.</p>
			<figure id="figure6">
				<img src="p773fig6.png"
					alt="Figure 6: Perception of appreciation of participating in journal operations">
				<figcaption>Figure 6: Perception of appreciation of participating in journal operations</figcaption>
			</figure>
		</section>
		<section>
			<h3 id="indexing">Indexing</h3>
			<p>Decisions related to indexing are in a sense a journal start-up phase issue. However, many indexing
				services do not include journals until they have a few volumes of back issues, and the hours needed to
				complete the applications for inclusion vary considerably. In the survey, the authors were asked which
				indexing services are important to them.</p>
			<figure id="figure7">
				<img src="p773fig7.png" alt="Figure 7: Indexing needs">
				<figcaption>Figure 7: Indexing needs</figcaption>
			</figure>
			<p>Indexing inclusion can be a complicated process for editors to execute. The Review is indexed in
				Philpapers.org (since 2014), EriH PLUS (since 2015), and in some national evaluation indices (JUFO
				(Finland), NSD (Norway)). It is under evaluation for Thomson-Reuters Arts and Humanities Index. Scopus
				has been considered, although application for inclusion is on hold owing to the sizeable application
				form required. The Directory of Open Access Journals is surprisingly unknown, as more than 40% of the
				survey respondents ‘<em>have never heard of this service</em>’ (<a href="#figure7">Figure 7</a>). The
				Review was not indexed in DOAJ 2011-16 although it fulfilled all inclusion criteria, apart from
				long-term digital preservation. This could be implemented through the LOCKSS enrolment function
				supported by OJS, which required measures which the editors may lack the time or expertise to complete.
				Indexing inclusion is important for many authors, and <a
					href="https://philpapers.org">Philpapers.org</a> is clearly the most important one. Philpapers is an
				online index and bibliography of philosophy which collects its information by trawling and crowdsourcing
				and among other services provides individualised news notifications about new publications and hence
				helps researchers monitor what is published.</p>
		</section>
		<section>
			<h3 id="sustainability-issues">Sustainability issues</h3>
			<p>Some sustainability issues have been discussed above. However, the survey provides a diagnostic tool for
				the publishing environment of the Review and sheds light on what the authors, the dominant stakeholder
				group, find feasible. <a href="#table6">Table 6</a> summarises the experiences that authors within
				philosophy have had of open access and of their publishing values and attitudes; it can give clues as to
				the feasibility of the chosen publication model.</p>
			<table id="table6">
				<caption>Table 6 Questions related to past publishing and open access behaviour</caption>
				<tbody>
					<tr>
						<th></th>
						<th>How many peer-reviewed scholarly journal articles have you published? (An estimation will
							do.)</th>
						<th>How many of these were published open access by the publisher/journal (i.e. made openly
							available on the Internet for free to the reader)?</th>
						<th>For how many of these did you pay an open access fee?</th>
						<th>How many of your articles published in closed access journals have been made available open
							access by you in a repository or elsewhere on the Web?</th>
						<th>Academic social network mentioned as one location</th>
					</tr>
					<tr>
						<td>Count</td>
						<td>141</td>
						<td>137</td>
						<td>133</td>
						<td>128</td>
						<td>58</td>
					</tr>
					<tr>
						<td>Average</td>
						<td>12,77</td>
						<td>2,26</td>
						<td>0,14</td>
						<td>5,61</td>
						<td></td>
					</tr>
					<tr>
						<td>Median</td>
						<td>6</td>
						<td>1</td>
						<td>0</td>
						<td>2</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p>The experience of open access publishing varies between the survey respondents (<a href="#table6">Table
					6</a>), but the distribution of respondent and the numbers should render their publishing
				experiences generalisable to the discipline in general. The median reported number of articles published
				by a respondent was 6, of which 1 was published open access by journal/publisher (gold open access). Out
				of altogether 1800 articles by this group of scholars, 310 (17%) were reported to be available through
				the publisher. However, this number should be expected to be lower, as at least one author reported 60,
				which would be highly unusual, if not impossible in this field.)</p>
			<p>Paying an open access fee is not a common experience and the responses suggest that should the Review
				attempt to introduce one, it would require pedagogical measures to convince authors that it is a good
				idea to have a chance of success. In the 2013 Agora journal survey, only 1 of 46 respondents from the
				community around the journal had once paid an article processing charge of €500. When it comes to green
				open access, it is striking that academic social media (such as <a
					href="https://www.academia.edu">Academia.edu</a>) is considered a suitable venue by many (mentioned
				by 58 out of 128 respondents).</p>
		</section>
		<section>
			<h3 id="attracting-high-quality-submissions">Attracting high-quality submissions</h3>
			<p>The sustainability of a journal depends partly on the capability to attract high quality submissions. The
				three most important factors for authors to submit to a journal according to respondents in our survey
				(<a href="#figure8">Figure 8</a>) are: 1. They are the best in my academic field, 2. Prestige of
				publication venue and in shared third place 3. Reaching the audience and 3. Trustworthy quality
				assurance processes. Prestige is difficult to achieve and to measure. From the beginning, the Review
				editors have tried to create a quality journal by putting effort into setting up a high quality
				peer-review procedure, and to carefully consider good editorial practices on all steps taken (supported
				by and evaluated within the Agora research project). Also, the aim has been for the communication of the
				journal to be clear, open and fair to authors in all of their dealings with it. Furthermore, the journal
				has an esteemed advisory board, an editorial board with several respected (Nordic) researchers and the
				invited papers by leading scholars in the field, which have all been a way to attract attention.</p>
			<figure id="figure8">
				<img src="p773fig8.png" alt="Figure 8: Submission venue choice">
				<figcaption>Figure 8: Submission venue choice</figcaption>
			</figure>
			<p>What ‘<em>the best in my academic field</em>’ precisely means is difficult to determine, however, this
				may involve perceived quality and is related to prestige (possibly a proxy measure for quality). An
				independent journal is often less professionally edited but this is not necessarily reflected in the
				number of printing errors. However, some multinational publishing houses provide very little editing
				assistance and no language editing, both of which could improve the quality of the text.</p>
		</section>
		<section>
			<h3 id="potential-authors%E2%80%99-views">Potential authors’ views</h3>
			<p>Choosing a publishing model which potential authors understand and value may be important for
				sustainability. The majority of respondents (67%) find that independence is valuable and worth
				maintaining (<a href="#figure9">Figure 9</a>). This finding resonates with the decision for the Review
				to become an independent journal.</p>
			<figure id="figure9">
				<img src="p773fig9.png" alt="Figure 9: Independence or professional publisher">
				<figcaption>Figure 9: Independence or professional publisher</figcaption>
			</figure>
			<p>The availability of reviewing contributions and submissions is crucial for sustainability. When asked (<a
					href="#figure10">Figure 10</a>), as many as 50% of the respondents reported that they prefer to
				review for open access journals, whereas only 40 % prefer to submit to open access journals. Scholars do
				play a role in the journal business because approximately 30% subscribe to a journal as an individual
				(25% pay for an academic print journal), and 40% of respondents have asked their libraries to subscribe
				to a journal at least once.</p>
			<figure id="figure10">
				<img src="p773fig10.png" alt="Figure 10: Open access attitudes and actions">
				<figcaption>Figure 10: Open access attitudes and actions</figcaption>
			</figure>
			<p>Since a market for individual print subscriptions does seem to exist to some degree, this could be a
				possibility for an income stream for the Review. However, this income stream presupposes a system for
				handling fees, print file preparation and cover layout. Individual print subscriptions for predominately
				Nordic Wittgenstein Society members would not necessarily require any elevation in marketing efforts.
			</p>
			<figure id="figure11">
				<img src="p773fig11.png" alt="Figure 11: Open access status">
				<figcaption>Figure 11: Open access status</figcaption>
			</figure>
			<p>The respondents do feel that open access is needed in the future (<a href="#figure11">Figure 11</a>),
				however, they do not believe that access is a competitive factor in the discipline. A possible
				conclusion is that open access is more important to the editorial board than it is for potential
				authors, which highlights the need for a balance between sustainability and ideology by editorial boards
				making publishing model decisions.</p>
		</section>
		<section>
			<h3 id="web-metrics-the-journal-website-in-numbers">Web metrics: the journal Website in numbers</h3>
			<p>When obtaining insight into how the journal is accessed and read longitudinal Web metrics can be very
				helpful in assessing aspects related to journal outreach, for example, through which sites visitors
				arrive to the Website, and how download counts for content are distributed. For the purposes of this
				study only high-level data collected by the Google Analytics tracker present on the journal Website was
				used, however, deeper insight could be gained by collecting e.g. Website visitor surveys.</p>
			<p>From 7 June 2015 to 7 June 2016 Google Analytics registered 12,417 unique visits to the journal Website
				domain with a total of 40,861 Webpages being viewed (3.29 average per visit). The visitor origin
				breakdown can be seen in <a href="#table7">Table 7</a>. 20% of visits came from the US, 11 % from the
				UK, 6 % from Germany, 6% from Finland, and 5 % from Brazil and Italy. Over 60% of all visits resulted in
				only opening one page during the visit. The vast majority of visitors accessed the Webpage through a
				computer (84%), but 11% of visits to the Website were made with a mobile phone, and 5% with a tablet.
			</p>
			<table id="table7">
				<caption>Table 7: Website traffic</caption>
				<tbody>
					<tr>
						<th>% of visitor origin (N=12 417)</th>
						<th>Website
							traffic origin</th>
					</tr>
					<tr>
						<td>47%</td>
						<td>Web search engines</td>
					</tr>
					<tr>
						<td>25%</td>
						<td>Direct URL (e.g., bookmarked, shortcut saved in browser memory, or by typing it out)</td>
					</tr>
					<tr>
						<td>20%</td>
						<td>Linking: Philpapers.org; Wab.uib.no; Wittgensteinrepository.org; Olponline.org;
							Dailynous.com; bookforum.com</td>
					</tr>
					<tr>
						<td>8%</td>
						<td>Social media: Facebook; Blogger; Twitter; Reddit; Tumblr</td>
					</tr>
				</tbody>
			</table>
			<p>According to the survey results, indexing in Philpapers.org was seen as important by scholars, and the
				Web metrics also shed light on the important role of Philpapers for NWR’s Website traffic by being the
				most frequent linking source to NWR. <a href="http://wab.uib.no">wab.uib.no</a> is the Wittgenstein
				Archives at the University of Bergen portal which contains much material on Wittgenstein but also hosted
				NWR’s OJS site.</p>
			<p>The OJS platform’s built-in counter provides view counts for each article and for the abstract, both PDF
				and HTML versions. However, these statistics are only available for the first two issues of the
				articles. These numbers, visualised in <a href="#figure12">Figure 12</a>, show that the articles are
				downloaded not only during the first months of publication but also in later years. Articles in later
				issues have reached the 500 download mark quicker than articles published in the first issues.</p>
			<figure id="figure12">
				<img src="p773fig12.png" alt="Figure 12: Cumulative Nordic Wittgenstein Review PDF downloads">
				<figcaption>Figure 12: Cumulative Nordic Wittgenstein Review PDF downloads. Each line represents one
					published item.</figcaption>
			</figure>
		</section>
		<section>
			<h2 id="conclusions">Conclusions</h2>
			<p>The ideology for supporting open access in scholarly publishing is nearly universally accepted as
				beneficial. However, to make such a publishing model feasible and sustainable in the long run requires
				resources to come from somewhere else other than readers. The available publishing options for a small
				subscription-based journal considering transfer to open access were: journal pays (which can often lead
				to article processing charges and author-pays), independent cost-cut, or applying to be part of a
				consortium publishing model (e.g. Open Library of Humanities). For larger societies there might be other
				possibilities to fund journal publication activities through subsidies from other activities, but in the
				case of the Nordic Wittgenstein Society the journal had to be practically self-sustaining.</p>
			<p>The processes which led the Review to becoming an independent, scholar-run, open access journal started
				with the need to find a new publisher, it then passed through a long negotiation process, and was
				finalised by the editorial board judgments of what was most important for the Review. The open access
				ideology and positive experiences of publishing open access so far were crucial to choosing the current
				model, whilst retaining authority over the journal. Furthermore, the secured hosting of the platform was
				an important factor. The evaluation measures show that open access comes at a price which can affect
				sustainability: good offers from publishers were turned down because of the lack of openness. Through
				this process, the editorial board was forced to balance ideology and feasibility in very tangible terms.
			</p>
			<p>Regarding the operation of an independent scholar-run open access journal within the humanities, one can
				note that some financial resources are necessary, but above all a strong community offering its service
				is important. The Review is, fortunately, a journal with a strong community. It had over 1000 likes on
				Facebook by the end of 2015 with minimum marketing efforts. In September 2015, the Nordic Wittgenstein
				Society had 193 members from all over the globe (perhaps due to no membership fees and an online
				membership application process). The need for funding is directly related to the availability of
				community service, which in turn depends on the community and on how editing is valued and how agents
				within the community perceive their responsibility for the communication system. The situation may be
				investigated by the help of surveys to the community. Open access may be considered an aspect of quality
				of a journal by authors. The members of the group behind the Revioew have thought that prestige of a
				journal may depend on clear communication and open access and editing assistance, i.e., the services
				provided by a journal are components of its esteem.</p>
			<p>Collecting and analysing Web metrics and conducting Web surveys distributed to the scholarly community
				within the journal research area can greatly help to guide the decision to gauge the feasibility of an
				open access journal. The Review survey was used to ascertain when authors are prepared to take over
				tasks from the editors, and may provide hints to sustainable adjustments of the operations of the
				journal. Also, feasibility of different kinds of income streams, such as article processing charges can
				be surveyed. For the Review, the survey supported independence, a model with no such charges but relying
				on community service. Web metrics help with informing the editors on what kind of readership the journal
				has internationally and what type of content is being most heavily accessed.</p>
		</section>
		<section>
			<h3 id="recommendations-for-the-review-and-other-journals">Recommendations for the Review and other journals
			</h3>
			<p>A possibility not investigated in this article is joining a consortium (e.g. Open Library of Humanities,
				which was not yet established during the first round of negotiations as it was launched in January
				2013). This sort of opportunity may be a good option for society journals because it offers stable
				funding, a continuously developed common journal platform, technical support, and increased visibility
				for the journal (compared with being fully independent).</p>
			<p>Journals need to look over their workflow to make it effective and include more scholars than a few
				editors involved in tasks like copy-editing. A good way to start monitoring the status of this aspect is
				to create an overview of the various tasks conducted and to follow up on their time consumption.
				Independent journals have the benefit of being autonomous and flexible when needed, however,
				independence from professional publisher backing also makes them more vulnerable to continuity issues
				since key individuals are keeping the entire journal running. Decentralisation of both authority and
				responsibilities help with managing the continuity of the journal if and when the time comes for key
				individuals to leave their editorial duties.</p>
		</section>
		<section>
			<h2 id="acknowledgements">Acknowledgements</h2>
			<p>Dr. Annamaria Carusi (<a
					href="http://www.sheffield.ac.uk/iicd/profiles/carusi">http://www.sheffield.ac.uk/iicd/profiles/carusi</a>)
				collected the Google analytics data.<br>
				The editorial board of Nordic Wittgenstein Review has supported the work on this article, in particular
				the editor Anne-Marie Søndergaard Christensen (University of Southern Denmark).<br>
				Alois Pichler from the Wittgenstein Archives at the University of Bergen has reviewed the preprint of
				the article and contributed to its revision and provided information as a former editor and central
				agent in starting up the journal.<br>
				Two anonymous reviewers of <em>Information Research</em> have made constructive suggestions, which have
				improved the quality of the article.</p>
		</section>
		<section>
			<h2 id="author">About the authors</h2>
			<p><strong>Yrsa Neuman</strong> is a postdoc researcher in philosophy at Åbo Akademi University (Turku,
				Finland). Apart from practicing it as the editor-in-chief of Nordic Wittgenstein Review, open access
				publishing in the humanities is included among her research interests. She can be reached at <a
					href="mailto:yneuman@abo.fi">yneuman@abo.fi</a>.<br>
				<strong>Mikael Laakso</strong> is an associate professor in information systems science at Hanken School
				of Economics (Helsinki, Finland). He has conducted research on the changing landscape of scholarly
				publishing through the introduction of open access since 2009 and defended his doctoral thesis on the
				topic in 2014. He can be reached at <a
					href="mailto:mikael.laakso@hanken.fi">mikael.laakso@hanken.fi</a>.</p>
		</section>
		<section>
			<h2>References</h2>
			<ul>
				<li id="ade10">Adema J. &amp; Rutten, P. (2010). <em><a
							href="http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=FB1575C4BDC7400D68EE1CAC0C127616?doi=10.1.1.163.798&amp;rep=rep1&amp;type=pdf">Digital
							monographs in the humanities and social sciences: report on user meeds.</a></em> (OAPEN
					project report D3.1.4). Retrieved from
					http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=FB1575C4BDC7400D68EE1CAC0C127616?doi=10.1.1.163.798&amp;rep=rep1&amp;type=pdf
				</li>
				<li id="bai10">Bailey, C. W., Jr. (2010). <a href="http://www.webcitation.org/6rytcs46C">Open access
						journals bibliography</a>. Houston, TX: Digital Scholarship. Retrieved from
					http://www.digital-scholarship.org/oajb/oajb.html (Archived by WebCite&reg; at
					http://www.webcitation.org/6rytcs46C).</li>
				<li id="bec78">Beck, R. N., &amp; Lineback, R. H. (1978). Scientific information transfer: the editor’s
					role. In M. Balaban (Ed.) <em>Proceedings of the First International Conference of Scientific
						Editors, April 24--29, 1977, Jerusalem, Israel</em>, (pp. 419–427). Dordrecht, Netherlands:
					Springer Netherlands. </li>
				<li id="bjo16">Björk, B-C., Shen, C., Laakso, M. (2016). <a href="https://doi.org/10.7717/peerj.1990">A
						longitudinal study of independent scholar-published open access journals.</a> <em>PeerJ, 4.</em>
					e1990. Retrieved from https://doi.org/10.7717/peerj.1990 </li>
				<li id="bjo06">Björk, B-C. and Turk, Z. (2006). <a href="http://www.webcitation.org/6rytz5big">The
						Electronic Journal of Information Technology in Construction (ITcon): an open access journal
						using an un-paid, volunteer-based organization. </a><em>Information Research</em>, 11(3), paper
					255. Retrieved from http://InformationR.net/ir/11-3/paper255.html (Archived by WebCite&reg; at
					http://www.webcitation.org/6rytz5big)</li>
				<li id="cav09"> Cavaleri, P., Keren, M., Ramello, G., and Valli. V. (2009). <a
						href="http://bit.ly/2zTozJk">Publishing an e-journal on a shoe string: is it a sustainable
						project?</a> <em>Economic Analysis and Policy, 39</em>(1), 89–101. Retrieved from
					http://bit.ly/2zTozJk</li>
				<li id="che16">Chen X., Olijhoek, T. (2016). <a
						href="http://dx.doi.org/10.1080/00987913.2016.1182672">Measuring the Degrees of openness of
						scholarly journals with the Open Access Spectrum (OAS) evaluation tool</a>, <em>Serials Review,
						42</em>(2), 108-115. Retrieved from http://dx.doi.org/10.1080/00987913.2016.1182672 </li>
				<li id="cra02">Crawford, W. (2002). <a href="http://dx.doi.org/10.1087/09531510252848881">Free
						electronic refereed journals: getting past the arc of enthusiasm.</a> <em>Learned
						Publishing</em>, 15(2), 117-123. Retrieved from http://dx.doi.org/10.1087/09531510252848881</li>
				<li id="deg14">De Grandis, G. &amp; Neuman, Y. (2014). <a
						href="http://dx.doi.org/10.3998/3336451.0017.302">Measuring openness and evaluating digital
						academic publishing models: not quite the same business.</a> <em>Journal of Electronic
						Publishing, 17</em>(3). Retrieved from http://dx.doi.org/10.3998/3336451.0017.302</li>
				<li id="edg10">Edgar, B.D., Willinsky, J. (2010). <a href="http://dx.doi.org/10.22230/src.2010v1n2a24">A
						survey of scholarly journals using Open Journal Systems</a>.<em>Scholarly and Research
						Communication, 1</em>(2). Retrieved from http://dx.doi.org/10.22230/src.2010v1n2a24.</li>
				<li id="eur15">European Commission. (2015). <a
						href="http://www.webcitation.org/6ryvZCDrh"><em>Guidelines on ppen access to scientific
							publications and research data in Horizon 2020.</em></a> Version 2.0. October 2015.
					Brussels: European Commission. Retrieved from
					http://ec.europa.eu/research/participants/data/ref/h2020/grants_manual/hi/oa_pilot/h2020-hi-oa-pilot-guide_en.pdf
					(Archived by WebCite&reg; at http://www.webcitation.org/6ryvZCDrh)</li>
				<li id="eve14">Eve, M. P. (2014). <a href="http://www.webcitation.org/6ryvi8OZN"><em>Open access and the
							humanities: contexts, controversies and the future.</em></a> Cambridge: Cambridge University
					Press. Retrieved from
					http://www.cambridge.org/do/titles/open-access-and-humanities-contexts-controversies-and-future/.
					(Archived by WebCite&reg; at http://www.webcitation.org/6ryvi8OZN)</li>
				<li id="fel07">Felczak, M., Lorimer, R. &amp; Smith, R. (2007). <a
						href="http://www.webcitation.org/6ryvpnGl9">From production to publishing at CJC online:
						experiences, insights, and considerations for adoption.</a> <em>First Monday, 12</em>(10).
					Retrieved from
					http://firstmonday.org/htbin/cgiwrap/bin/ojs/index.php/fm/rt/printerFriendly/1959/1836. (Archived by
					WebCite&reg; at http://www.webcitation.org/6ryvpnGl9)</li>
				<li id="for16">Fortney, K. &amp; Murphy, L. (2016). <a
						href="http://doi.org/10.5811/westjem.2016.6.30836">Getting found: indexing and the independent
						open access journal</a>.<em>Western Journal of Emergency Medicine, 17</em>(5), 508–510.
					Retrieved from http://doi.org/10.5811/westjem.2016.6.30836 </li>
				<li id="fox16">Foxall, K. &amp; Nailor, A. (2016). <a
						href="http://dx.doi.org/10.1002/leap.1023">Sustainability in open access publishing: the ecancer
						case study</a>. <em>Learned Publishing, 29</em>(2), 113–117. Retrieved from
					http://dx.doi.org/10.1002/leap.1023</li>
				<li id="hag08">Haggerty, K.D. (2008). <a href="http://www.webcitation.org/6ryw26eC1">Taking the plunge:
						open access at the Canadian Journal of Sociology.</a> <em>Information Research, 13</em>(1),
					paper 338. Retrieved from http://InformationR.net/ir/13-1/paper338.html. (Archived by WebCite&reg;
					at http://www.webcitation.org/6ryw26eC1)</li>
				<li id="laa14">Laakso, M. (2014).<a href="http://www.webcitation.org/6rywFWYJ0"><em>Measuring aoen
							access: studies of Web-enabled innovation in scientific journal publishing"</em></a>.
					Unpublished doctoral dissertation, Hanken School of Economics, Helsinki, Finland. Retrieved from
					http://hdl.handle.net/10138/45238 (Archived by WebCite&reg; at http://www.webcitation.org/6rywFWYJ0)
				</li>
				<li id="laa13">Laakso, M. &amp; Björk, B.-C. (2013).<a
						href="http://www.webcitation.org/6rywSzrI3">Delayed open access: an overlooked high-impact
						category of openly available scientific literature.</a> <em>Journal of the American Society for
						Information Science and Technology, 64</em>(7), 1323–1329. (Archived by WebCite&reg; at
					http://www.webcitation.org/6rywSzrI3)</li>
				<li id="lar15">Larivière, V., Haustein, S., Mongeon, P. (2015). <a
						href="http://dx.doi.org/10.1371/journal.pone.0127502">The oligopoly of academic publishers in
						the digital era.</a> <em>PLoS ONE, 10</em>(6): e0127502. Retrieved from
					http://dx.doi.org/10.1371/journal.pone.0127502</li>
				<li id="mar16">Marchi, M.D., Lorenzetti, E. (2016). Measuring the impact of scholarly journals in the
					humanities field. <em>Scientometrics, 106</em>(1), 253–26.</li>
				<li id="mat16">Matthews, D. (2016, March 16). <a href="http://www.webcitation.org/6s1CmI4fU">Should
						academics be paid for peer review? </a> <em>imes Higher Education.</em> Retrieved from
					https://www.timeshighereducation.com/news/should-academics-be-paid-for-peer-review (Archived by
					WebCite&reg; at http://www.webcitation.org/6s1CmI4fU)</li>
				<li id="mor16">Morrison, H. (2016). <a href="http://dx.doi.org/10.1002/leap.1015">Small scholar-led
						scholarly journals: can they survive and thrive in an open access future?</a> <em>Learned
						Publishing, 29</em>(2), 83–88. Retrieved from http://dx.doi.org/10.1002/leap.1015.</li>
				<li id="neu14"> Neuman, Y., Strandberg, H., Gustafsson, M. &amp; Pichler, A. (2014). <em>Different
						shades of gold: report on future strategy of open access, D7.5 Agora – scholarly open access
						research in European philosophy</em>.Retrieved from https://philpapers.org/archive/NEUDSO.pdf
				</li>
				<li id="neu16">Neuman, Y., Søndergaard Christensen, A-M., Gustafsson, M. (2016). <a
						href="http://www.webcitation.org/6s0RXop65">Note from the Editors</a>, <em>Nordic Wittgenstein
						Review, 5</em>(1), 5-7. Retrieved from
					http://www.nordicwittgensteinreview.com/article/view/3412/Fulltext%20pdf. (Archived by WebCite&reg;
					at http://www.webcitation.org/6s0RXop65)</li>
				<li id="noo13">Noorden, R.V. (2013). <a href="http://dx.doi.org/10.1038/495426a">Open access: The true
						cost of science publishing. News Feature.</a> <em>Nature, 495</em>(7442), 426–429. Retrieved
					from http://dx.doi.org/10.1038/495426a</li>
				<li id="dbh16">Norwegian Centre for Research Data. (2016). <a
						href="http://www.webcitation.org/6ryugQpnu">Norwegian register for scientific journals, series
						and publishers.</a> Retrieved from
					https://dbh.nsd.uib.no/publiseringskanaler/Forside?sok.avansert=true&amp;request_locale=en.
					(Archived by WebCite&reg; at http://www.webcitation.org/6ryugQpnu)</li>
				<li id="pol16">Polonioli, A. (2016). Metrics, flawed indicators, and the case of philosophy journals.
					<em>Scientometrics, 108</em>(2), 987–994. </li>
				<li id="sch13">Schmoller, S. (2013). <em>The transition to… open access.</em> Oxford: Association for
					Learning Technology. (ALT Project Report). Retrieved from
					http://repository.alt.ac.uk/2243/1/Journaltransitioning_20130404_Final_Abs.pdf</li>
				<li id="sol07">Solomon, D.J. (2007). <a href="http://www.webcitation.org/6s1CtS74M">Medical Education
						Online: a case study of an open access journal in health professional education.</a>
					<em>Information Research, 12</em>(2) paper 301. Retrieved from
					http://InformationR.net/ir/12-2/paper301.html. (Archived by WebCite&reg; at
					http://www.webcitation.org/6s1CtS74M)</li>
				<li id="sol08">Solomon, D.J. (2008). <a href="http://www.webcitation.org/6s1D0p4mM"><em>Developing open
							access journals: a practical guide</em></a>, Version 1.02. Retrieved from
					https://www.fosteropenscience.eu/sites/default/files/pdf/2362.pdf. (Archived by WebCite&reg; at
					http://www.webcitation.org/6s1D0p4mM)</li>
				<li id="sol16">Solomon, D., Laakso, M., Björk, B-C. (2016). <a
						href="https://dash.harvard.edu/handle/1/27803834"><em>Converting scholarly journals to open
							access: a review of approaches and experiences.</em></a>, edited by Peter Suber. Cambrdige,
					MA: Harvard University, Harvard Library Office for Scholarly Communication. Retrieved from
					https://dash.harvard.edu/handle/1/27803834. </li>
				<li id="swa15">Swan, A., Gargouri, Y., Hunt, M., Harnad, S. (2015). <a
						href="https://arxiv.org/abs/1504.02261"><em>Working together to promote open access policy
							alignment in Europe. Work package 3 report: open access policies</em></a> PASTEUR4OA
					Project. Retrieved from https://arxiv.org/abs/1504.02261. </li>
				<li id="war15">Ware, M., &amp; Mabe, M. (2015). <a href="http://www.webcitation.org/6s1DJ7yUC"><em>The
							STM report — an overview of scientific and scholarly journals publishing.</em></a> 4th. ed.
					Oxford: International Association of Scientific, Technical and Medical Publishers. Retrieved from
					http://www.stm-assoc.org/2015_02_20_STM_Report_2015.pdf. (Archived by WebCite&reg; at
					http://www.webcitation.org/6s1DJ7yUC)</li>
				<li id="will07">Willinsky, J. &amp; Mendis, R. (2007). <a
						href="http://www.webcitation.org/6s1DNUJ9l">"Open access on a zero budget: a case study of
						Postcolonial Text". <em></em></a><em>Information Research</em>, 12(3) paper 308. Retrieved from
					http://InformationR.net/ir/12-3/paper308.html. . (Archived by WebCite&reg; at
					http://www.webcitation.org/6s1DNUJ9l)</li>
			</ul>
		</section>
	</article>
</body>

</html>